# PREP

In [1]:
import pandas as pd
import numpy as np
import polars as pl
import matplotlib.pyplot as plt
import re
import os
import glob
import shutil
from pathlib import Path
from datetime import datetime, timedelta
os.getcwd()

'/home/sido/M&A'

In [2]:
# create the input_dir（input directory）
current_note_path = os.path.dirname(os.path.abspath('__file__'))
source_path = '/scratch/bell/sido/m&a'
INPUT_DIR = os.path.join(source_path, 'data')

# if INPUT_DIR has not been created yet, create it
if not os.path.isdir(INPUT_DIR):
    os.mkdir(INPUT_DIR)

# output_dir(output directory) creation
OUTPUT_DIR = os.path.join(source_path, 'outputs')

# if OUTPUT_DIR has not been created yet, create it
if not os.path.isdir(OUTPUT_DIR):
    os.mkdir(OUTPUT_DIR)

In [3]:
# Once you run this code, comment it out
# move csv files to `data` directory(=folder)

# unique_dir_names = []
# for f in Path(f'{source_path}').rglob('*.csv'):
#     unique_dir_names.append(f)
# for g in Path(f'{source_path}').rglob('*.xlsx'):
#     unique_dir_names.append(g)

# for file in list(set(unique_dir_names)):
#     print(f'moved file: {file}')
#     shutil.move(f'{file}', f'{INPUT_DIR}')

In [4]:
# Pandas function to let us read csv files without having to specify the directory
def read_csv(name, **kwrgs):
    path = os.path.join(INPUT_DIR, name + '.csv')
    print(f'Load: {path}')
    return pd.read_csv(path, **kwrgs)

# Polars function to let us read csv files without having to specify the directory
def read_csvpl(name, **kwrgs):
    path = os.path.join(INPUT_DIR, name + '.csv')
    print(f'Load: {path}')
    return pl.read_csv(path, **kwrgs)

# DATA

In [5]:
ma = read_csv("SDC_M&A_1975-2016_180217")
patent = read_csv("USPTOtoM&A_Dictionary_with_uscitation_all")

Load: /scratch/bell/sido/m&a/data/SDC_M&A_1975-2016_180217.csv

/tmp/ipykernel_7314/1701776350.py:1: DtypeWarning: Columns (43,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132) have mixed types.Specify dtype option on import or set low_memory=False.
  ma = read_csv("SDC_M&A_1975-2016_180217")

Load: /scratch/bell/sido/m&a/data/USPTOtoM&A_Dictionary_with_uscitation_all.csv

In [6]:
ma.head(5)

,DateEffective,DateAnnounced,AcquirorName,AcquirorCUSIP,TargetName,TargetCUSIP,DateEffectiveUnconditional,DateWithdrawn,TargetCompanyDateofFin,TargetTFMacroCode,...,AcquirorUltimateParentTicker,AcquirorStreetAddress,AcquirorUltimateParentStreet,AcquirorCity,AcquirorUltimateParentCity,BranchAddress,TargetStreetAddress,TargetUltimateParentStreetAd,TargetCity,TargetUltimateParentCity
0,24apr1982,01apr1981,Telecommunications Inds Inc,879284,Horizon Communications Corp,44041I,24apr1982,-,-,TELECOM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,communications equipment;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,provide cellular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,communications services,MEDIA,Media and Entertainment,ADVER,Advertising & Marketing,7331,Direct mail advertising services,United States,Virginia,Provide telemarketing services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01apr1981,01apr1981,Summit Bancorporation,866008,Maplewood Bk&Tr,565522,01apr1981,-,31dec1980,FINANCE,...,UJB,1 Main Street,301 Carnegie Center,Chatham,Princeton,-,-,-,-,-

In [7]:
patent.head(5)

,organization,m&a_company,assignee_id,m&a_target,m&a_acquiror,PERMNO,patnum,fdate,idate,type,appnum,patcite_num,patcite_assignee_id
0,01db-Metravib Sas,01dbmetravib,5c61d393-3c74-4b37-8182-3cf2c11ccf0b,1,0,NaN,6886393,2000,05/03/2005,utility,10088534.0,2404474,NaN
1,01db-Metravib Sas,01dbmetravib,5c61d393-3c74-4b37-8182-3cf2c11ccf0b,1,0,NaN,6886393,2000,05/03/2005,utility,10088534.0,3229499,NaN
2,01db-Metravib Sas,01dbmetravib,5c61d393-3c74-4b37-8182-3cf2c11ccf0b,1,0,NaN,6886393,2000,05/03/2005,utility,10088534.0,3413474,NaN
3,01db-Metravib Sas,01dbmetravib,5c61d393-3c74-4b37-8182-3cf2c11ccf0b,1,0,NaN,6886393,2000,05/03/2005,utility,10088534.0,3913378,NaN
4,01db-Metravib Sas,01dbmetravib,5c61d393-3c74-4b37-8182-3cf2c11ccf0b,1,0,NaN,6886393,2000,05/03/2005,utility,10088534.0,4024751,ce7c5b47-05e7-4620-a05e-5c74b5fb57fd

# PREPROCESS

In [8]:
patent['uncleaned'] = patent['organization'].astype(str)
patent['organization'] = patent['organization'].astype(str)
patent['assignee_id'] = patent['assignee_id'].astype(str)

In [8]:
def data_cleaning(df):
    #remove words in brackets
    df = df.apply(lambda c: re.sub("\(.*?\)","()",ｃ))
    df = df.apply(lambda c: re.sub(r"[\([{})\]]", "", c))

    #remove suffix
    df = df.str.lower()
    df = df.apply(lambda c: c.replace(" corporation", ""))
    df = df.apply(lambda c: c.replace(" company", ""))
    df = df.apply(lambda c: c.replace(" kaisha", ""))
    df = df.apply(lambda c: c.replace(", the", ""))
    df = df.apply(lambda c: c.replace(" ug", ""))
    df = df.apply(lambda c: c.replace(" oao", ""))
    df = df.apply(lambda c: c.replace(" pt", ""))
    df = df.apply(lambda c: c.replace(" ny", ""))
    df = df.apply(lambda c: c.replace(" as", ""))
    df = df.apply(lambda c: c.replace(" se", ""))
    df = df.apply(lambda c: c.replace(" sl", ""))
    df = df.apply(lambda c: c.replace(" ab", ""))
    df = df.apply(lambda c: c.replace(" ag", ""))
    df = df.apply(lambda c: c.replace("-ag", ""))
    df = df.apply(lambda c: c.replace(" lc", ""))
    df = df.apply(lambda c: c.replace(" nv", ""))
    df = df.apply(lambda c: c.replace(" sasu", ""))
    df = df.apply(lambda c: c.replace(" sas", ""))
    df = df.apply(lambda c: c.replace(" sa", ""))
    df = df.apply(lambda c: c.replace(" aps", ""))
    df = df.apply(lambda c: c.replace(" asa", ""))
    df = df.apply(lambda c: c.replace(" spa", ""))
    df = df.apply(lambda c: c.replace(" sar", ""))
    df = df.apply(lambda c: c.replace(" sia", ""))
    
    df = df.apply(lambda c: c.replace(" co. ltd", ""))
    df = df.apply(lambda c: c.replace(" co ltd", ""))
    df = df.apply(lambda c: c.replace(" co.", ""))
    df = df.apply(lambda c: c.replace(" m sdn bhd", ""))
    df = df.apply(lambda c: c.replace(" sdn bhd", ""))
    df = df.apply(lambda c: c.replace("gmbh & co", ""))
    df = df.apply(lambda c: c.replace("gmnh", ""))
    df = df.apply(lambda c: c.replace(" kgaa", ""))
    df = df.apply(lambda c: c.replace(" kg", ""))
    df = df.apply(lambda c: c.replace("gmbh", ""))
    df = df.apply(lambda c: c.replace(" bvba", ""))
    df = df.apply(lambda c: c.replace(" b.v.", ""))
    df = df.apply(lambda c: c.replace(" b. v.", ""))
    df = df.apply(lambda c: c.replace(" bv", ""))
    df = df.apply(lambda c: c.replace(" limited", ""))
    df = df.apply(lambda c: c.replace(" corp", ""))
    df = df.apply(lambda c: c.replace(" & co.", ""))
    df = df.apply(lambda c: c.replace(" & c.s.n.c.", ""))
    df = df.apply(lambda c: c.replace(" & c. s.n.c.", ""))
    df = df.apply(lambda c: c.replace(" a/s", ""))
    df = df.apply(lambda c: c.replace(" a.s.", ""))
    df = df.apply(lambda c: c.replace(" de cv", ""))
    df = df.apply(lambda c: c.replace(" s.a.s.u.", ""))
    df = df.apply(lambda c: c.replace(" s.a.s.", ""))
    df = df.apply(lambda c: c.replace("(s.a.s.)", ""))
    df = df.apply(lambda c: c.replace(" s.a.b.", ""))
    df = df.apply(lambda c: c.replace(" s.a.p.i.", ""))
    df = df.apply(lambda c: c.replace(" s.a.", ""))
    df = df.apply(lambda c: c.replace(" s.a", ""))
    df = df.apply(lambda c: c.replace(" s.r.o.", ""))
    df = df.apply(lambda c: c.replace(" s.r.o", ""))
    df = df.apply(lambda c: c.replace(" s.p.a.", ""))
    df = df.apply(lambda c: c.replace(" p.a.", ""))
    df = df.apply(lambda c: c.replace(" s.a.r.l.", ""))
    df = df.apply(lambda c: c.replace(" sarl", ""))
    df = df.apply(lambda c: c.replace("s.r.l.", ""))
    df = df.apply(lambda c: c.replace("s.r.l", ""))
    df = df.apply(lambda c: c.replace(" srl", ""))
    df = df.apply(lambda c: c.replace(" ksaa", ""))
    df = df.apply(lambda c: c.replace(" k.s.a.a.", ""))
    df = df.apply(lambda c: c.replace(" d.o.o.", ""))
    df = df.apply(lambda c: c.replace(" s.l.p.", ""))
    df = df.apply(lambda c: c.replace(" s.l.u.", ""))
    df = df.apply(lambda c: c.replace(" l.p.", ""))
    df = df.apply(lambda c: c.replace(" l.p", ""))
    df = df.apply(lambda c: c.replace(" s.l.", ""))
    df = df.apply(lambda c: c.replace(" s.l", ""))
    df = df.apply(lambda c: c.replace(" s/a", ""))
    df = df.apply(lambda c: c.replace(" gbr", ""))
    df = df.apply(lambda c: c.replace(" oyj", ""))
    df = df.apply(lambda c: c.replace(" oy", ""))
    df = df.apply(lambda c: c.replace(" l/s", ""))
    df = df.apply(lambda c: c.replace(" n.v.", ""))
    df = df.apply(lambda c: c.replace(" nv", ""))
    df = df.apply(lambda c: c.replace(" hf", ""))
    df = df.apply(lambda c: c.replace(" e.v.", ""))
    df = df.apply(lambda c: c.replace(" de c.v.", ""))
    df = df.apply(lambda c: c.replace(" de .c.v.", ""))
    df = df.apply(lambda c: c.replace(" ulc", ""))
    df = df.apply(lambda c: c.replace(" s.c. a r.l.", ""))
    df = df.apply(lambda c: c.replace(" pbc", ""))
    df = df.apply(lambda c: c.replace(" llc", ""))
    df = df.apply(lambda c: c.replace(" l. l. c.", ""))
    df = df.apply(lambda c: c.replace(" l.c.", ""))
    df = df.apply(lambda c: c.replace(" ltd", ""))
    df = df.apply(lambda c: c.replace(" l.t.d.", ""))
    df = df.apply(lambda c: c.replace(" l.t.d", ""))
    df = df.apply(lambda c: c.replace(" lt.d", ""))
    df = df.apply(lambda c: c.replace(" lllp", ""))
    df = df.apply(lambda c: c.replace(" llp", ""))
    df = df.apply(lambda c: c.replace(" lda", ""))
    df = df.apply(lambda c: c.replace(" lp", ""))
    df = df.apply(lambda c: c.replace(".ltd", ""))
    df = df.apply(lambda c: c.replace(" inc.", ""))
    df = df.apply(lambda c: c.replace(" inc", ""))
    df = df.apply(lambda c: c.replace(" l.l.c.", ""))
    df = df.apply(lambda c: c.replace(" l l c", ""))
    df = df.apply(lambda c: c.replace(" pte", ""))
    df = df.apply(lambda c: c.replace(" s.e.m.c.o.", ""))
    df = df.apply(lambda c: c.replace(" s.e.c.", ""))
    df = df.apply(lambda c: c.replace(" pllc", ""))
    df = df.apply(lambda c: c.replace(" plc", ""))
    df = df.apply(lambda c: c.replace(" p.l.c.", ""))
    df = df.apply(lambda c: c.replace(" pvt", ""))
    df = df.apply(lambda c: c.replace(" pcl", ""))
    df = df.apply(lambda c: c.replace(" sp. z o. o.", ""))
    df = df.apply(lambda c: c.replace(" sp z o o", ""))
    df = df.apply(lambda c: c.replace(" sp. z o. o", ""))
    df = df.apply(lambda c: c.replace(" sp. z o.o", ""))
    df = df.apply(lambda c: c.replace(" sp. zo.o", ""))
    df = df.apply(lambda c: c.replace(" sp.zo.o", ""))
    df = df.apply(lambda c: c.replace(" pty", ""))
    df = df.apply(lambda c: c.replace(" zrt", ""))
    df = df.apply(lambda c: c.replace(" co ", ""))
    df = df.apply(lambda c: c.replace(" l p", ""))

    #remove special characters
    df = df.apply(lambda c: c.replace(".", ""))
    df = df.apply(lambda c: c.replace(",", ""))
    df = df.apply(lambda c: c.replace("-", ""))
    df = df.apply(lambda c: c.replace("!", ""))
    df = df.apply(lambda c: c.replace(":", ""))
    df = df.apply(lambda c: c.replace("'", ""))
    df = df.apply(lambda c: c.replace("/", ""))
    df = df.apply(lambda c: c.replace("\\", ""))
    df = df.apply(lambda c: c.replace("*", ""))

    #remove special words
    df = df.apply(lambda c: c.rstrip() if c.split(" ")[-1] in ("the","ab", "co", "sa", "as", "ao", "oao", "ooo", "inc", "dac" "sro", "pc", "sb", "&", "amt") else c)
    df = df.apply(lambda c: c.replace("group", "grp"))
    df = df.apply(lambda c: c.replace("international", "intl"))
    df = df.apply(lambda c: c.replace(" and", " &"))

    #remove spaces
    df = df.apply(lambda c: c.strip())
    df = df.apply(lambda c: c.replace(" ", ""))
    return df

In [9]:
patent["organization"] = data_cleaning(patent["organization"])

In [10]:
ma["TargetName"] = ma["TargetName"].astype(str)
ma["AcquirorName"] = ma["AcquirorName"].astype(str)

In [11]:
# remove the null value in both Target and Acquiror name
ma_part = ma[ma["TargetName"] != "nan"]
ma_part = ma_part[ma_part["AcquirorName"] != "nan"]

In [12]:
display(ma_part)

,DateEffective,DateAnnounced,AcquirorName,AcquirorCUSIP,TargetName,TargetCUSIP,DateEffectiveUnconditional,DateWithdrawn,TargetCompanyDateofFin,TargetTFMacroCode,...,AcquirorUltimateParentTicker,AcquirorStreetAddress,AcquirorUltimateParentStreet,AcquirorCity,AcquirorUltimateParentCity,BranchAddress,TargetStreetAddress,TargetUltimateParentStreetAd,TargetCity,TargetUltimateParentCity
0,24apr1982,01apr1981,Telecommunications Inds Inc,879284,Horizon Communications Corp,44041I,24apr1982,-,-,TELECOM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,communications services,MEDIA,Media and Entertainment,ADVER,Advertising & Marketing,7331,Direct mail advertising services,United States,Virginia,Provide telemarketing services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01apr1981,01apr1981,Summit Bancorporation,866008,Maplewood Bk&Tr,565522,01apr1981,-,31dec1980,FINANCE,...,UJB,1 Main Street,301 Carnegie Center,Chatham,Princeton,-,-,-,-,-
5,01apr1982,01apr1982,Atlantic Bancorporation,048222,Bk Of Brevard,06074M,01apr1982,-,-,FINANCE,...,-,200 W Forsyth St,200 W Forsyth St,Jacksonville,Jacksonville,-,-,-,-,-
6,13may1982,01apr1982,Rexnord Inc,761688,Contech Inc,210754,13may1982,-,31dec1981,MATERLS,...,REX,350 N Sunny Slope Rd,350 N Sunny Slope Rd,Brookfield,Brookfield,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5744824,P.O. Box 39,Keilaranta 15 B,Espoo,Espoo,-,Norrlandsgatan 7,Norrlandsgatan 7,Stockholm,Stockholm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5744825,31oct2016,31oct2016,Salt Creek Capital II LLC,0A9766,Extranomical Tours LLC,9E9997,31oct2016,-,-,CPS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5744826,-,Completed,np,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5744827,-,31oct2016,Avast Software BV,7E2302,AVG Technologies NV,N07831,-,-,30jun2016,HT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5744828,-,Intended,np,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# data cleaning of ma_part data
ma_part["TargetName"] = data_cleaning(ma_part["TargetName"])
ma_part["AcquirorName"] = data_cleaning(ma_part["AcquirorName"])

# extract the only Target and Acquiror name columns
ma_data = pd.DataFrame(pd.concat([ma_part["TargetName"], ma_part["AcquirorName"]]))
ma_data = ma_data.drop_duplicates().reset_index(drop = True)
ma_data.columns = ["organization"]

# clean the data and turn it into dataframe
ma_data_cleaned = pd.DataFrame(data_cleaning(ma_data["organization"]), columns=["organization"]).reset_index(drop = True)
ma_data_cleaned

                   organization
0         horizoncommunications
1         advertising&marketing
2                maplewoodbk&tr
3                   bkofbrevard
4                       contech
...                         ...
1223012  ineosstyrosolutionsgrp
1223013            daeseungchoe
1223014                   40552
1223015     collinsfoodsgermany
1223016          lynxfbonetwork

[1223017 rows x 1 columns]

In [14]:
# check duplicated organization names

duplicated_check = {
    "original": ma_data[ma_data_cleaned.duplicated(keep = False)]["organization"],
    "cleaned": ma_data_cleaned[ma_data_cleaned.duplicated(keep = False)]["organization"]
}
duplicated_check = pd.DataFrame(duplicated_check).sort_values(by=["cleaned"])

# MERGE PATENT AND M&A DATA

In [15]:
# construct the dictionary
tmp = {
    "original": ma_data[~ma_data_cleaned.duplicated()]["organization"],
    "organization": ma_data_cleaned[~ma_data_cleaned.duplicated()]["organization"]
}
ma_data_cleaned = pd.DataFrame(tmp)

# merge the no-duplicated cleaned m&a data with patent data
dict_ = pd.merge(ma_data_cleaned, patent[["assignee_id", "organization"]].drop_duplicates(), on=["organization"], how = "left").drop_duplicates(subset=["organization", "assignee_id"])

# count the sum of null value in assignee_id
nan_count = dict_["assignee_id"].isna().sum()
# drop the null value in assignee_id
dict_ = dict_.dropna(subset=["assignee_id"]).reset_index(drop=True)


# check organizations with different assignee_ids
## get the duplicated rows based on "organization"
duplicated_check2 = {
    "cleaned": dict_[dict_.duplicated(subset = ["organization"], keep = False)]["organization"],
    "assignee_id": dict_[dict_.duplicated(subset = ["organization"], keep = False)]["assignee_id"]
}
duplicated_check2 = pd.DataFrame(duplicated_check2)
duplicated_check2 = pd.merge(duplicated_check2
                             , patent[["assignee_id", "uncleaned"]].drop_duplicates()
                             , on=["assignee_id"]
                             , how = "left").drop_duplicates().sort_values(by=["cleaned","assignee_id"]
                            ).rename(columns={"uncleaned": "organization"}).reset_index(drop=True)

In [16]:
dict_ = dict_.rename(columns={"organization":"m&a_company","original": "organization"}).reset_index(drop=True)

# label the organization if target or acquiror
dict_['m&a_target'] = 0
dict_.loc[dict_["m&a_company"].isin(ma_part["TargetName"]), 'm&a_target'] = 1
dict_['m&a_acquiror'] = 0
dict_.loc[dict_["m&a_company"].isin(ma_part["AcquirorName"]), 'm&a_acquiror'] = 1

# EXPORT

In [58]:
duplicated_check.to_csv(os.path.join(OUTPUT_DIR, 'duplicated_cleaned_m&a.csv'), encoding='utf_8_sig', index=False)
duplicated_check2.to_csv(os.path.join(OUTPUT_DIR, 'same_orgname_dif_assigneeid_m&a.csv'), encoding='utf_8_sig', index=False)
dict_.to_csv(os.path.join(OUTPUT_DIR, 'cleaned_M&A_with_Patent.csv'), encoding='utf_8_sig', index=False)

# EXPERIMENTAL GROUP

## data

In [9]:
# stata = pd.DataFrame(pd.read_stata(os.path.join(INPUT_DIR, "roster3-20230902.dta")))
# stata.to_csv(os.path.join(INPUT_DIR, 'roster3-20230902.csv'), encoding='utf_8_sig', index=False)
ma_with_patent = read_csv("roster3-20230902")

Load: /scratch/bell/sido/m&a/data/roster3-20230902.csv

/tmp/ipykernel_7314/2498962888.py:3: DtypeWarning: Columns (13,23,92,115,116,117,118,119,216,217,218) have mixed types.Specify dtype option on import or set low_memory=False.
  ma_with_patent = read_csv("roster3-20230902")

In [10]:
ma_with_patent

,DateEffective,DateAnnounced,AcquirorName,AcquirorCUSIP,TargetName,TargetCUSIP,DateEffectiveUnconditional,DateWithdrawn,TargetCompanyDateofFin,TargetTFMacroCode,...,acq_cwp_selfexcluded,tgt_cwp_selfexcluded,acq_sic3,tgt_sic3,acq_avg_lag_1995,acq_avg_lag_1990,acq_avg_lag_2002,tgt_avg_lag_1995,tgt_avg_lag_1990,tgt_avg_lag_2002
0,27jun1978,26jan1978,Louisiana-Pacific Corp,546347,Fibreboard Corp,315712,27jun1978,-,31dec1996,MATERLS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21jun1981,23dec1980,LTV Corp,502210,Jones & Laughlin Steel Corp,480034,21jun1981,-,31dec1980,MATERLS,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-,11oct1981,Interpace Corp,460578,Eco Pump Corp,26827Q,-,-,-,IND,...,NaN,NaN,344.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-,03nov1981,Dyneer Corp,268163,Mud Hog Corp,62472P,-,-,-,IND,...,0.218916,NaN,371.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,04mar1982,24nov1981,SmithKline Beckman Corp,832377,Beckman Instruments Inc,075815,04mar1982,-,30sep1981,HEALTH,...,0.000000,NaN,283.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20314,22nov2011,20may2011,Inso SpA,45726K,Inso SpA,45726K,22nov2011,-,31dec2010,IND,...,0.000000,0.0,999.0,999.0,NaN,NaN,1143.1782,NaN,NaN,1143.1782
20315,22jul2013,04jun2013,OnMobile Global Ltd,68180X,LiveWire Mobile Inc,53837P,22jul2013,-,31mar2013,HT,...,NaN,0.0,NaN,999.0,NaN,NaN,NaN,NaN,NaN,1143.1782
20316,30apr2014,07apr2014,Hitachi Europe Ltd,43376X,Valcom Srl,9A9720,30apr2014,-,31dec2012,IND,...,NaN,NaN,NaN,999.0,NaN,NaN,NaN,NaN,NaN,1143.1782
20317,-,18nov2016,FanDuel Inc,9C3094,DraftKings Inc,2C5218,-,-,-,MEDIA,...,NaN,NaN,NaN,999.0,NaN,NaN,NaN,NaN,NaN,1143.1782
20318,13dec2016,03nov2016,Actua Corp,46059C,Actua Corp,46059C,13dec2016,-,30sep2016,CPS,...,0.000000,0.0,999.0,999.0,NaN,NaN,1143.1782,NaN,NaN,1143.1782

In [11]:
df = read_csv("roster3-20230903")
df

Load: /scratch/bell/sido/m&a/data/roster3-20230903.csv

/tmp/ipykernel_7314/998735050.py:1: DtypeWarning: Columns (105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,122,124,125,126,127,128,134,135,136,137,138,140,141,142,146,147,148,157,159,164,165,166,171,174,175,176,177,181,184,185,186,188,189,198,199,200,216,217,218) have mixed types.Specify dtype option on import or set low_memory=False.
  df = read_csv("roster3-20230903")

,DateEffective,DateAnnounced,AcquirorName,AcquirorCUSIP,TargetName,TargetCUSIP,DateEffectiveUnconditional,DateWithdrawn,TargetCompanyDateofFin,TargetTFMacroCode,...,tgt_cwp_selfexcluded,acq_sic3,tgt_sic3,acq_avg_lag_1995,acq_avg_lag_1990,acq_avg_lag_2002,tgt_avg_lag_1995,tgt_avg_lag_1990,tgt_avg_lag_2002,proximity
0,-,29jan2002,Tohken Co Ltd,88936H,OKK Inc,67114Y,-,-,-,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,electronic indicators,HT,High Technology,ITCS,IT Consulting & Services,7373,Computer integrated systems design,Japan,Foreign,Pvd computer sys dvlp svcs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,are disclosed,Pending,.345,.345,-,.12,.12,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-,28sep2011,HSN Inc,404303,HSN Inc,404303,-,-,30jun2011,RETAIL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10 mil shares (17.008%),Intended,2038.196,2066.715,35.15,351.5,351.5,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139117,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139118,Self Tender offer is completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139119,-,Completed,146.909,73.881,7.081,7.582,7.582,.167,Mizuho Securities Co Ltd,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139120,Tender Offer,B1GZ9S6,CORPORATE,P,Public,-,Public,B1GZ9S6,Public,413614,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139121,413614,CASHO,Cash Only,CASHO,Cash Only,1,03sep2015,Buyback,"Self Tenders, Recaps",-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## preprocess

In [12]:
# select only rows with non-null Withdrawn date
tmp1 = ma_with_patent[~ma_with_patent["DateWithdrawn"].isna()]
# select only rows with valid Withdrawn date
tmp1 = tmp1.loc[tmp1["DateWithdrawn"] != "-"]

# change the data type of "DateWithdrawn" to datetime
tmp1["Date"] = pd.to_datetime(tmp1["DateWithdrawn"], format='%d%b%Y')
# make the index as a column (save the id?)
tmp1.reset_index(inplace=True)

# display the data
pd.set_option('display.max_rows', 1000)
display(tmp1["Date"].count())
tmp1["Date"]

764

0     1983-04-15
1     1984-07-24
2     1985-11-15
3     1985-10-03
4     1985-02-26
5     1986-06-26
6     1986-08-01
7     1987-02-27
8     1987-10-27
9     1988-01-13
10    1987-06-24
11    1988-08-03
12    1989-01-04
13    1996-08-27
14    1989-03-28
15    1988-10-13
16    1988-07-27
17    1988-07-28
18    1989-08-10
19    1989-09-26
20    1990-07-19
21    1990-02-02
22    1989-12-14
23    1989-12-12
24    1989-05-16
25    1990-11-08
26    1991-01-07
27    1990-10-03
28    1990-11-01
29    1991-01-29
30    1990-11-12
31    1990-10-04
32    1990-03-02
33    1990-03-22
34    1990-12-06
35    1991-03-31
36    1991-08-07
37    1992-06-02
38    1991-11-11
39    1991-06-07
40    1991-12-09
41    1991-08-30
42    1991-12-10
43    1991-12-05
44    1991-12-05
45    1992-05-01
46    1992-03-03
47    1992-12-18
48    1992-03-16
49    1992-03-11
50    1992-12-17
51    1993-10-08
52    1994-02-21
53    1993-08-17
54    1993-05-10
55    1993-12-19
56    1994-03-31
57    1993-11-12
58    1993-05-03
59    1994-11-22
60    1994-09-19
61    1994-09-27
62    1994-05-17
63    1995-09-07
64    1995-08-30
65    1995-08-09
66    1995-04-13
67    1996-01-22
68    1996-11-25
69    1997-03-03
70    1996-12-15
71    1996-02-08
72    1996-11-19
73    1996-11-25
74    1996-10-16
75    1996-05-14
76    1996-06-19
77    1996-09-23
78    1997-02-25
79    1997-12-24
80    1997-08-01
81    1997-04-29
82    1998-03-06
83    1997-07-18
84    1997-06-30
85    1998-02-27
86    2002-11-07
87    1998-04-01
88    1997-06-09
89    1998-05-07
90    1998-09-30
91    1998-12-21
92    1998-07-13
93    1998-08-20
94    1999-08-17
95    1998-06-30
96    1999-03-31
97    1998-09-11
98    1998-07-13
99    1998-05-24
100   1998-02-18
101   2002-11-07
102   1999-01-25
103   1998-11-24
104   1999-03-11
105   2000-02-28
106   1999-10-18
107   2004-04-05
108   1999-04-10
109   1999-08-17
110   1999-02-05
111   2000-12-31
112   2000-01-04
113   2000-03-30
114   1999-05-09
115   2000-02-11
116   1999-01-21
117   1999-12-24
118   2000-03-02
119   1999-07-06
120   1999-09-21
121   2000-10-26
122   2003-03-31
123   2000-10-21
124   2000-05-05
125   2005-02-13
126   2002-11-07
127   2000-07-21
128   2000-05-16
129   2002-05-22
130   2001-10-31
131   2004-03-31
132   2001-02-27
133   2001-08-26
134   2000-10-13
135   2000-09-28
136   2001-01-23
137   2000-12-21
138   2000-12-04
139   2001-11-05
140   2000-11-02
141   2005-07-31
142   2000-07-24
143   2000-05-03
144   2000-07-24
145   2000-08-11
146   2005-03-30
147   2002-02-06
148   2001-08-22
149   2001-11-27
150   2001-06-20
151   2002-02-22
152   2002-01-18
153   2001-12-05
154   2001-09-27
155   2001-12-03
156   2009-07-28
157   2002-12-10
158   2001-10-17
159   2002-12-31
160   2002-12-16
161   2003-02-04
162   2002-11-08
163   2002-05-29
164   2002-06-13
165   2002-12-16
166   2002-06-13
167   2002-07-31
168   2002-08-29
169   2003-08-06
170   2003-04-23
171   2004-11-15
172   2003-04-23
173   2003-06-06
174   2012-11-13
175   2003-03-04
176   2003-08-12
177   2003-10-21
178   2003-12-31
179   2004-08-18
180   2003-05-05
181   2003-06-10
182   2003-05-28
183   2004-06-24
184   2004-10-14
185   2004-11-09
186   2004-06-09
187   2005-03-15
188   2005-01-27
189   2004-12-04
190   2006-02-02
191   2005-06-23
192   2004-09-10
193   2004-01-30
194   2005-02-02
195   2004-11-12
196   2005-11-03
197   2006-02-07
198   2005-08-11
199   2005-08-20
200   2005-06-20
201   2005-09-27
202   2005-06-16
203   2005-03-17
204   2005-07-11
205   2005-05-16
206   2006-06-28
207   2005-03-17
208   2005-09-15
209   2005-09-26
210   2006-01-31
211   2006-01-23
212   2006-02-15
213   2005-12-31
214   2006-09-04
215   2007-03-07
216   2006-07-04
217   2007-06-08
218   2006-04-07
219   2006-11-10
220   2007-06-27
221   2007-01-23
222   2006-08-01
223   2006-10-04
224   2006-11-15
225   2007-02-20
226   2006-07-28
227   2008-04-28
228   2006-11-27
229   2006-12-18
230   2008-06-13
231   2007-12-31
232   2007-06-30
233   2007-10-05
234   2009-05-11
235   2007-10-26
236   2015-07-14
237   2007-12-12
238   2007-12-31
239   2007-03-25
240   2007-09-13
241   2007-05-25
242   2007-11-16
243   2009-06-25
244   2008-11-21
245   2008-06-30
246   2008-09-19
247   2009-03-12
248   2008-07-29
249   2012-10-22
250   2008-09-18
251   2008-10-17
252   2008-06-20
253   2012-11-25
254   2008-03-19
255   2009-01-27
256   2008-11-28
257   2008-05-16
258   2010-12-22
259   2008-10-01
260   2009-03-31
261   2008-09-05
262   2008-10-31
263   2008-12-08
264   2009-01-26
265   2008-10-15
266   2009-03-11
267   2008-04-14
268   2008-07-18
269   2009-09-10
270   2011-09-29
271   2010-01-14
272   2009-03-30
273   2010-02-10
274   2009-04-30
275   2010-04-22
276   2009-07-14
277   2009-06-24
278   2009-12-31
279   2009-02-07
280   2009-11-28
281   2010-03-04
282   2009-10-16
283   2009-10-12
284   2010-06-09
285   2013-01-09
286   2011-04-28
287   2011-09-19
288   2011-02-08
289   2010-06-15
290   2010-04-30
291   2010-07-27
292   2011-06-28
293   2010-06-23
294   2010-04-02
295   2010-07-09
296   2010-08-05
297   2010-12-31
298   2010-12-10
299   2010-03-10
300   2014-08-26
301   2011-12-31
302   2014-02-28
303   2011-12-22
304   2011-03-03
305   2014-08-11
306   2012-01-01
307   2011-09-28
308   2012-04-11
309   2012-01-06
310   2011-09-13
311   2012-03-14
312   2011-04-26
313   2011-09-19
314   2012-06-01
315   2012-12-21
316   2012-07-17
317   2015-06-11
318   2013-12-10
319   2013-01-26
320   2014-05-15
321   2013-01-15
322   2012-12-03
323   2012-12-28
324   2015-11-13
325   2014-09-29
326   2013-06-17
327   2013-12-16
328   2013-10-17
329   2015-04-27
330   2014-12-09
331   2014-07-15
332   2014-05-14
333   2013-12-16
334   2016-05-31
335   2013-12-02
336   2013-10-16
337   2015-05-13
338   2016-11-18
339   2015-11-20
340   2015-10-28
341   2016-03-03
342   2014-07-02
343   2015-08-13
344   2014-06-23
345   2014-08-27
346   2015-11-02
347   2015-10-27
348   2015-02-09
349   2014-04-17
350   2014-10-03
351   2014-08-15
352   2016-06-28
353   2015-10-20
354   2015-11-01
355   2016-05-26
356   2016-10-05
357   2015-12-22
358   2015-09-23
359   2015-03-30
360   2016-03-01
361   2016-04-18
362   2016-11-04
363   2016-04-01
364   2016-12-28
365   2017-02-16
366   1987-04-02
367   2008-11-25
368   1990-09-25
369   2007-12-06
370   2014-04-28
371   1985-01-07
372   1986-07-29
373   1986-07-29
374   1987-11-19
375   2001-09-04
376   2014-04-08
377   2014-03-10
378   2003-12-04
379   1988-03-17
380   1988-07-27
381   2005-10-28
382   1992-01-17
383   1987-06-24
384   1989-02-23
385   1988-03-16
386   2005-07-26
387   1982-02-02
388   1986-06-04
389   1999-11-24
390   1988-04-13
391   1988-05-09
392   1989-07-05
393   2000-02-10
394   2014-07-14
395   1995-07-19
396   2000-05-18
397   2009-01-06
398   2006-10-31
399   1996-03-19
400   2005-05-17
401   1990-04-02
402   1997-12-23
403   2006-06-13
404   2006-05-30
405   2012-05-04
406   1989-03-29
407   1991-10-23
408   1995-03-01
409   1994-12-14
410   1995-12-02
411   1997-03-20
412   1998-01-30
413   1999-01-26
414   2000-03-14
415   2014-11-30
416   2000-08-28
417   2006-01-26
418   2002-07-01
419   2003-06-27
420   2005-10-06
421   2006-10-17
422   2007-05-17
423   2009-12-17
424   2009-12-31
425   2011-10-21
426   2013-02-05
427   2014-05-26
428   2015-04-01
429   1985-10-01
430   1990-04-27
431   1991-07-24
432   1991-07-24
433   1995-12-31
434   2014-11-25
435   2013-07-02
436   1983-08-23
437   1989-09-11
438   2008-12-13
439   2012-12-03
440   1990-01-25
441   2004-05-14
442   2015-01-09
443   1982-07-07
444   1989-01-29
445   1997-12-09
446   1999-06-02
447   2011-10-31
448   2013-12-29
449   1990-05-01
450   1996-04-03
451   2014-02-12
452   2016-08-16
453   1987-02-10
454   2002-06-10
455   1998-03-19
456   1998-01-28
457   1988-06-30
458   2006-07-27
459   2006-07-27
460   1984-04-14
461   1997-02-16
462   1997-10-31
463   1999-08-27
464   2000-03-14
465   2001-06-30
466   2006-12-05
467   1989-05-07
468   1988-02-01
469   1995-09-13
470   1997-08-13
471   1990-04-18
472   1983-01-25
473   1991-12-02
474   1990-12-03
475   1986-08-05
476   1988-10-13
477   1989-09-25
478   1993-12-09
479   2001-07-02
480   2008-10-09
481   1994-08-03
482   2004-09-30
483   2003-12-03
484   1984-01-10
485   1985-06-17
486   1986-05-28
487   1986-05-07
488   1986-05-28
489   1986-05-28
490   1987-12-14
491   1988-10-17
492   1989-12-11
493   1991-12-31
494   1996-11-20
495   1996-11-20
496   1996-11-20
497   1997-06-23
498   1998-06-09
499   2001-11-30
500   2002-05-06
501   2001-03-31
502   2002-03-27
503   2007-05-16
504   2008-02-14
505   2009-07-08
506   2014-10-31
507   2017-05-05
508   1985-01-16
509   2015-01-09
510   1996-08-05
511   2017-04-30
512   1989-09-21
513   1990-06-04
514   2016-03-08
515   1989-01-26
516   1981-09-02
517   1987-12-11
518   1994-05-16
519   2010-05-06
520   1986-12-31
521   1987-05-15
522   2015-12-03
523   1986-12-23
524   2001-09-20
525   2001-01-11
526   2001-10-04
527   2002-08-16
528   2009-09-17
529   2011-05-27
530   2014-11-17
531   2015-06-08
532   2016-07-08
533   1988-05-23
534   1991-03-26
535   1993-10-08
536   1994-02-23
537   1994-04-20
538   1995-10-11
539   1998-03-02
540   1999-02-25
541   1999-03-19
542   1999-12-03
543   2000-03-20
544   2002-11-04
545   2003-07-14
546   2003-11-17
547   2006-02-01
548   2005-12-31
549   2010-10-21
550   2007-04-26
551   2008-02-01
552   2008-12-17
553   2008-10-13
554   2012-08-03
555   2016-11-17
556   2013-07-30
557   2011-02-23
558   2015-10-22
559   2011-06-10
560   2013-07-18
561   2014-11-11
562   2015-11-10
563   2014-11-14
564   2014-07-22
565   2016-01-19
566   2016-07-21
567   2015-09-28
568   2017-01-19
569   2016-06-14
570   1985-10-02
571   1987-10-07
572   1996-02-05
573   2004-04-27
574   1999-02-11
575   2001-02-21
576   1992-08-06
577   1989-03-15
578   1983-02-05
579   2001-05-02
580   2011-07-30
581   2015-06-01
582   2017-02-05
583   1988-03-15
584   1989-07-13
585   1993-01-26
586   1996-10-28
587   1998-09-22
588   1997-01-21
589   2009-02-13
590   1998-04-03
591   1998-08-28
592   1999-01-08
593   2006-01-23
594   2012-01-09
595   2016-12-05
596   2015-08-10
597   1984-03-15
598   1986-01-02
599   1994-04-25
600   1994-07-11
601   1994-12-09
602   1994-11-04
603   1996-01-09
604   1996-12-31
605   1999-04-19
606   2000-02-18
607   2010-01-06
608   2008-09-12
609   2011-07-20
610   2012-09-18
611   2008-04-07
612   1996-11-18
613   1999-07-15
614   1991-06-24
615   1991-01-31
616   1996-02-02
617   2014-12-31
618   1986-08-22
619   2016-04-11
620   1987-06-25
621   1987-06-22
622   2008-10-23
623   1999-09-15
624   1999-01-18
625   1999-07-19
626   1999-05-21
627   1999-05-21
628   2000-03-10
629   2004-02-29
630   2000-08-11
631   2001-12-31
632   2003-12-09
633   2003-12-09
634   2007-03-05
635   2012-07-26
636   1986-05-22
637   1993-12-31
638   1990-08-31
639   2001-04-01
640   2006-06-12
641   2009-07-21
642   1985-02-02
643   2002-01-08
644   1983-03-05
645   1996-12-18
646   2016-12-15
647   2008-12-12
648   2011-02-15
649   1997-03-11
650   2015-10-14
651   2001-09-18
652   2016-02-25
653   2015-09-21
654   2016-05-26
655   2008-07-01
656   2015-12-18
657   2016-10-04
658   2015-01-28
659   1997-07-02
660   2002-01-31
661   2016-05-16
662   2016-02-10
663   2015-04-23
664   2007-03-27
665   2014-01-08
666   2015-04-16
667   2015-12-31
668   2016-06-29
669   2017-01-03
670   2009-05-07
671   1994-06-23
672   2014-04-30
673   2017-02-14
674   1996-08-09
675   1999-06-17
676   2013-11-21
677   2014-11-24
678   1988-06-29
679   2008-09-30
680   2000-12-21
681   2003-05-25
682   1985-08-01
683   1988-05-27
684   1997-05-07
685   1991-03-27
686   1991-02-13
687   1995-03-01
688   1993-12-14
689   1994-05-03
690   1997-12-26
691   1997-06-06
692   1997-04-14
693   1999-05-24
694   1999-06-30
695   2000-01-19
696   2000-11-13
697   2001-12-31
698   2000-09-26
699   2002-10-17
700   2001-10-27
701   2001-05-10
702   2001-05-31
703   2000-11-06
704   2003-02-12
705   2002-03-13
706   2001-05-17
707   2002-09-01
708   2005-05-02
709   2002-11-11
710   2002-04-02
711   2002-12-19
712   2004-01-26
713   2006-03-31
714   2006-12-21
715   2006-05-17
716   2008-04-21
717   2008-12-04
718   2008-11-26
719   2009-09-05
720   2008-08-15
721   2008-08-13
722   2009-07-08
723   2009-10-22
724   2009-02-10
725   2012-01-24
726   2011-10-31
727   2010-12-03
728   2012-08-10
729   2012-10-24
730   2013-05-21
731   2013-04-23
732   2014-05-05
733   2015-01-22
734   2015-11-09
735   2016-11-03
736   2013-04-26
737   2014-07-21
738   2014-04-23
739   2014-12-08
740   2014-05-01
741   2014-11-20
742   2015-05-04
743   2017-03-15
744   2016-03-04
745   2016-03-03
746   2016-06-22
747   2015-07-27
748   2015-05-12
749   2005-01-14
750   2010-07-30
751   2002-02-01
752   2004-05-18
753   2011-02-22
754   2014-09-29
755   2015-12-28
756   2003-12-15
757   2003-12-16
758   2014-11-10
759   1993-10-20
760   2001-04-02
761   2013-03-18
762   1994-12-15
763   1997-04-03
Name: Date, dtype: datetime64[ns]

In [13]:
# select only rows with non-null realized date
tmp2 = ma_with_patent[~ma_with_patent["DateEffectiveUnconditional"].isna()]
# select only rows with valid realized date
tmp2 = tmp2.loc[tmp2["DateEffectiveUnconditional"] != "-"]

# change the data type of "DateEffectiveUnconditional" to datetime
tmp2["Date"] = pd.to_datetime(tmp2["DateEffectiveUnconditional"], format='%d%b%Y')

# make the index as a column (save the id?)
tmp2.reset_index(inplace=True)

# display the datata
pd.set_option('display.max_rows', 1000)
display(tmp2["Date"].count())
display(tmp2["Date"])

11531

0       1978-06-27
1       1981-06-21
2       1982-03-04
3       1981-01-30
4       1981-08-03
           ...
11526   2008-11-06
11527   2011-11-22
11528   2013-07-22
11529   2014-04-30
11530   2016-12-13
Name: Date, Length: 11531, dtype: datetime64[ns]

In [14]:
# extract only the rows with both acq_sic and tgt_sic3, meaning acquiror and target are both from the same industry
tmp2 = tmp2[~tmp2["acq_sic3"].isna() & ~tmp2["tgt_sic3"].isna()].query('acq_sic3 == tgt_sic3')
tmp2

,index,DateEffective,DateAnnounced,AcquirorName,AcquirorCUSIP,TargetName,TargetCUSIP,DateEffectiveUnconditional,DateWithdrawn,TargetCompanyDateofFin,...,tgt_cwp_selfexcluded,acq_sic3,tgt_sic3,acq_avg_lag_1995,acq_avg_lag_1990,acq_avg_lag_2002,tgt_avg_lag_1995,tgt_avg_lag_1990,tgt_avg_lag_2002,Date
9212,13152,05apr1984,05apr1984,Castle & Cooke Inc,148429,Castle & Cooke Inc,148429,05apr1984,-,18jun1983,...,NaN,10.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,1984-04-05
9213,13153,30apr1985,30apr1985,Castle & Cooke Inc,148429,Castle & Cooke Inc,148429,30apr1985,-,-,...,NaN,10.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,1985-04-30
9218,13160,14sep1983,22aug1983,Dataram Corp,238108,Dataram Corp,238108,14sep1983,-,30apr1982,...,0.000000,100.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,1983-09-14
9219,13161,20apr1984,27mar1984,Dataram Corp,238108,Dataram Corp,238108,20apr1984,-,31jan1984,...,0.000000,100.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,1984-04-20
9220,13162,01feb1990,29nov1989,Dataram Corp,238108,Dataram Corp,238108,01feb1990,-,31oct1989,...,0.000000,100.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,1990-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11514,20278,07jan1985,07jan1985,Comdisco Inc,200336,Comdisco Inc,200336,07jan1985,-,30sep1984,...,0.000000,999.0,999.0,NaN,NaN,NaN,NaN,NaN,NaN,1985-01-07
11518,20288,30jun2001,17may1994,Comdisco Inc,200336,Comdisco Inc,200336,30jun2001,-,31dec1999,...,0.000416,999.0,999.0,NaN,929.09875,NaN,NaN,929.09875,NaN,2001-06-30
11520,20291,28apr1995,28apr1995,Comdisco Inc,200336,Comdisco Inc,200336,28apr1995,-,30sep1994,...,0.000794,999.0,999.0,1009.2232,929.09875,NaN,1009.2232,929.09875,NaN,1995-04-28
11527,20314,22nov2011,20may2011,Inso SpA,45726K,Inso SpA,45726K,22nov2011,-,31dec2010,...,0.000000,999.0,999.0,NaN,NaN,1143.1782,NaN,NaN,1143.1782,2011-11-22
11530,20318,13dec2016,03nov2016,Actua Corp,46059C,Actua Corp,46059C,13dec2016,-,30sep2016,...,0.000000,999.0,999.0,NaN,NaN,1143.1782,NaN,NaN,1143.1782,2016-12-13

In [15]:
# Concat the tmp1 and tmp2
tmp3 = pd.DataFrame(pd.concat([tmp1, tmp2]))
# tmp3.to_csv(os.path.join(OUTPUT_DIR, 'tmp_cleaned_m&a_for_pairing.csv'), encoding='utf_8_sig', index=False)
tmp3

,index,DateEffective,DateAnnounced,AcquirorName,AcquirorCUSIP,TargetName,TargetCUSIP,DateEffectiveUnconditional,DateWithdrawn,TargetCompanyDateofFin,...,tgt_cwp_selfexcluded,acq_sic3,tgt_sic3,acq_avg_lag_1995,acq_avg_lag_1990,acq_avg_lag_2002,tgt_avg_lag_1995,tgt_avg_lag_1990,tgt_avg_lag_2002,Date
0,40,-,15apr1982,Viacom International Inc,925526,Video Corp of America,926549,-,15apr1983,30jun1981,...,NaN,483.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1983-04-15
1,64,-,25jul1983,Autoclave Engineers Inc,052760,Electro Plasma Inc,28519M,-,24jul1984,-,...,NaN,382.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1984-07-24
2,165,-,03oct1985,American Home Products Corp,026609,Norcliff-Thayer Inc,65549V,-,15nov1985,-,...,NaN,283.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1985-11-15
3,172,-,15aug1985,Gulfstream Aerospace Corp,402733,Canadair Ltd,135307,-,03oct1985,31dec1984,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1985-10-03
4,188,-,26feb1985,Transidyne General Corp,893664,Technimed Corp(DH Blair inc),878545,-,26feb1985,-,...,NaN,384.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1985-02-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11514,20278,07jan1985,07jan1985,Comdisco Inc,200336,Comdisco Inc,200336,07jan1985,-,30sep1984,...,0.000000,999.0,999.0,NaN,NaN,NaN,NaN,NaN,NaN,1985-01-07
11518,20288,30jun2001,17may1994,Comdisco Inc,200336,Comdisco Inc,200336,30jun2001,-,31dec1999,...,0.000416,999.0,999.0,NaN,929.09875,NaN,NaN,929.09875,NaN,2001-06-30
11520,20291,28apr1995,28apr1995,Comdisco Inc,200336,Comdisco Inc,200336,28apr1995,-,30sep1994,...,0.000794,999.0,999.0,1009.2232,929.09875,NaN,1009.2232,929.09875,NaN,1995-04-28
11527,20314,22nov2011,20may2011,Inso SpA,45726K,Inso SpA,45726K,22nov2011,-,31dec2010,...,0.000000,999.0,999.0,NaN,NaN,1143.1782,NaN,NaN,1143.1782,2011-11-22
11530,20318,13dec2016,03nov2016,Actua Corp,46059C,Actua Corp,46059C,13dec2016,-,30sep2016,...,0.000000,999.0,999.0,NaN,NaN,1143.1782,NaN,NaN,1143.1782,2016-12-13

## Create the 36 months window pairs

In [57]:
# Filter rows where DateWithdrawn is not null
filtered_tmp3 = tmp3[tmp3["DateWithdrawn"] != "-"]

# Create an empty list to store the resulting rows
# result_lists = []
# Create a dictionary to store the resulting data
result_dict = {}

# Iterate over each row in the filtered dataframe
for index, row in filtered_tmp3.iterrows():
    base_date = row["Date"]
    base_index = row["index"]

    # Calculate the 36-month window
    start_date = base_date - timedelta(days=365 * 1.5)
    end_date = base_date + timedelta(days=365 * 1.5)

    # Filter rows where DateWithdrawn is missing and date falls within the window
    temp_df = tmp3[(tmp3["DateWithdrawn"] == "-") & (tmp3["Date"] >= start_date) & (tmp3["Date"] <= end_date)]["index"]

    # Convert the filtered rows to a list and append it to the result_lists
    temp_list = temp_df.values.tolist()
#     result_lists.append(temp_list)
    # Add the key-value pair to the result_dict
    result_dict[base_index] = temp_list

# Create a new dataframe from the resulting rows
result_dict

# Convert the dictionary to a DataFrame
result_df = pd.DataFrame.from_dict(result_dict, orient='index')
result_df

# export to csv file
result_df.to_csv(os.path.join(OUTPUT_DIR, "MAtemp-conTroLgroupfor_withdrwnMApairsrstep1_36monthwindow.csv"), encoding='utf_8_sig', index=False)

## Create the 2 years window pairs

In [58]:
# Filter rows where DateWithdrawn is not null
filtered_tmp3 = tmp3[tmp3["DateWithdrawn"] != "-"]

# Create an empty list to store the resulting rows
# result_lists = []
# Create a dictionary to store the resulting data
result_dict = {}

# Iterate over each row in the filtered dataframe
for index, row in filtered_tmp3.iterrows():
    base_date = row["Date"]
    base_index = row["index"]

    # Calculate the 2 years window
    start_date = base_date - timedelta(days=365)
    end_date = base_date + timedelta(days=365)

    # Filter rows where DateWithdrawn is missing and date falls within the window
    temp_df = tmp3[(tmp3["DateWithdrawn"] == "-") & (tmp3["Date"] >= start_date) & (tmp3["Date"] <= end_date)]["index"]

    # Convert the filtered rows to a list and append it to the result_lists
    temp_list = temp_df.values.tolist()
#     result_lists.append(temp_list)
    # Add the key-value pair to the result_dict
    result_dict[base_index] = temp_list

# Convert the dictionary to a DataFrame
result_df = pd.DataFrame.from_dict(result_dict, orient='index')
result_df

# export to csv file
result_df.to_csv(os.path.join(OUTPUT_DIR, "MAtemp-conTroLgroupfor_withdrwnMApairsrstep1_24monthwindow.csv"), encoding='utf_8_sig', index=False)

## Create the 4 years window pairs

In [59]:
# Filter rows where DateWithdrawn is not null
filtered_tmp3 = tmp3[tmp3["DateWithdrawn"] != "-"]

# Create an empty list to store the resulting rows
# result_lists = []
# Create a dictionary to store the resulting data
result_dict = {}

# Iterate over each row in the filtered dataframe
for index, row in filtered_tmp3.iterrows():
    base_date = row["Date"]
    base_index = row["index"]

    # Calculate the 4 years window
    start_date = base_date - timedelta(days=365 * 2)
    end_date = base_date + timedelta(days=365 * 2)

    # Filter rows where DateWithdrawn is missing and date falls within the window
    temp_df = tmp3[(tmp3["DateWithdrawn"] == "-") & (tmp3["Date"] >= start_date) & (tmp3["Date"] <= end_date)]["index"]

    # Convert the filtered rows to a list and append it to the result_lists
    temp_list = temp_df.values.tolist()
#     result_lists.append(temp_list)
    # Add the key-value pair to the result_dict
    result_dict[base_index] = temp_list

# Convert the dictionary to a DataFrame
result_df = pd.DataFrame.from_dict(result_dict, orient='index')
result_df

# export to csv file
result_df.to_csv(os.path.join(OUTPUT_DIR, "MAtemp-controlgroupfor_withdrwnMApairsrstep1_48monthwindow.csv"), encoding='utf_8_sig', index=False)

## Create the 5 years window pairs

In [60]:
# Filter rows where DateWithdrawn is not null
filtered_tmp3 = tmp3[tmp3["DateWithdrawn"] != "-"]

# Create an empty list to store the resulting rows
# result_lists = []
# Create a dictionary to store the resulting data
result_dict = {}

# Iterate over each row in the filtered dataframe
for index, row in filtered_tmp3.iterrows():
    base_date = row["Date"]
    base_index = row["index"]

    # Calculate the 5 years window
    start_date = base_date - timedelta(days=365 * 2.5)
    end_date = base_date + timedelta(days=365 * 2.5)

    # Filter rows where DateWithdrawn is missing and date falls within the window
    temp_df = tmp3[(tmp3["DateWithdrawn"] == "-") & (tmp3["Date"] >= start_date) & (tmp3["Date"] <= end_date)]["index"]

    # Convert the filtered rows to a list and append it to the result_lists
    temp_list = temp_df.values.tolist()
#     result_lists.append(temp_list)
    # Add the key-value pair to the result_dict
    result_dict[base_index] = temp_list

# Convert the dictionary to a DataFrame
result_df = pd.DataFrame.from_dict(result_dict, orient='index')
result_df

# export to csv file
result_df.to_csv(os.path.join(OUTPUT_DIR, "MAtemp-controlgroupfor_withdrwnMApairsrstep1_60 monthwindow.csv"), encoding='utf_8_sig', index=False)

# REFERENCE

In [ ]:
# save the "organization" column as uncleaned just in case and change the data type into string (=pl.Utf8)
patent = patent.with_columns(
            uncleaned = pl.col("organization")
            ,organization = pl.col("organization").cast(pl.Utf8)
            ,assignee_id = pl.col("assignee_id").cast(pl.Utf8)
        )

patent.head(5)

In [47]:
def data_cleaning(name):
    # remove words in brackets
    new_col = name.str.replace("\(.*?\)","()").str.replace(r"[\([{})\]]", "")
    df.with_columns(new_col)
    return df

# new_column = (pl.col("Integer") * 2).alias("Integer2")
# df.with_columns(new_column)

# df2=df.with_columns(
#     [
#         pl.col("text").str.replace(r"abc", "ABC").str.replace(r"cde", "CDE").replace(r"fgh", "FGH")
#     ]
# )

In [43]:
def data_cleaning(df):
    # remove words in brackets
    new_col = pl.col("organization"
                    ).str.replace("\(.*?\)","()"
                    ).str.replace(r"[\([{})\]]", ""
               # remove suffix         
                    ).str.to_lowercase(
                    ).str.replace(" corporation", ""
                    ).str.replace(" company", ""
                    ).str.replace(" kaisha", ""
                    ).str.replace(", the", ""
                    ).str.replace(" ug", ""
                    ).str.replace(" oao", ""
                    ).str.replace(" pt", ""
                    ).str.replace(" ny", ""
                    ).str.replace(" as", ""
                    ).str.replace(" se", ""
                    ).str.replace(" sl", ""
                    ).str.replace(" ab", ""
                    ).str.replace(" ag", ""
                    ).str.replace("-ag", ""
                    ).str.replace(" lc", ""
                    ).str.replace(" nv", ""
                    ).str.replace(" sasu", ""
                    ).str.replace(" sas", ""
                    ).str.replace(" sa", ""
                    ).str.replace(" aps", ""
                    ).str.replace(" asa", ""
                    ).str.replace(" spa", ""
                    ).str.replace(" sar", ""
                    ).str.replace(" sia", ""

                    ).str.replace(" co. ltd", ""
                    ).str.replace(" co ltd", ""
                    ).str.replace(" co.", ""
                    ).str.replace(" m sdn bhd", ""
                    ).str.replace(" sdn bhd", ""
                    ).str.replace("gmbh & co", ""
                    ).str.replace("gmnh", ""
                    ).str.replace(" kgaa", ""
                    ).str.replace(" kg", ""
                    ).str.replace("gmbh", ""
                    ).str.replace(" bvba", ""
                    ).str.replace(" b.v.", ""
                    ).str.replace(" b. v.", ""
                    ).str.replace(" bv", ""
                    ).str.replace(" limited", ""
                    ).str.replace(" corp", ""
                    ).str.replace(" & co.", ""
                    ).str.replace(" & c.s.n.c.", ""
                    ).str.replace(" & c. s.n.c.", ""
                    ).str.replace(" a/s", ""
                    ).str.replace(" a.s.", ""
                    ).str.replace(" de cv", ""
                    ).str.replace(" s.a.s.u.", ""
                    ).str.replace(" s.a.s.", ""
                    ).str.replace("(s.a.s.)", ""
                    ).str.replace(" s.a.b.", ""
                    ).str.replace(" s.a.p.i.", ""
                    ).str.replace(" s.a.", ""
                    ).str.replace(" s.a", ""
                    ).str.replace(" s.r.o.", ""
                    ).str.replace(" s.r.o", ""
                    ).str.replace(" s.p.a.", ""
                    ).str.replace(" p.a.", ""
                    ).str.replace(" s.a.r.l.", ""
                    ).str.replace(" sarl", ""
                    ).str.replace("s.r.l.", ""
                    ).str.replace("s.r.l", ""
                    ).str.replace(" srl", ""
                    ).str.replace(" ksaa", ""
                    ).str.replace(" k.s.a.a.", ""
                    ).str.replace(" d.o.o.", ""
                    ).str.replace(" s.l.p.", ""
                    ).str.replace(" s.l.u.", ""
                    ).str.replace(" l.p.", ""
                    ).str.replace(" l.p", ""
                    ).str.replace(" s.l.", ""
                    ).str.replace(" s.l", ""
                    ).str.replace(" s/a", ""
                    ).str.replace(" gbr", ""
                    ).str.replace(" oyj", ""
                    ).str.replace(" oy", ""
                    ).str.replace(" l/s", ""
                    ).str.replace(" n.v.", ""
                    ).str.replace(" nv", ""
                    ).str.replace(" hf", ""
                    ).str.replace(" e.v.", ""
                    ).str.replace(" de c.v.", ""
                    ).str.replace(" de .c.v.", ""
                    ).str.replace(" ulc", ""
                    ).str.replace(" s.c. a r.l.", ""
                    ).str.replace(" pbc", ""
                    ).str.replace(" llc", ""
                    ).str.replace(" l. l. c.", ""
                    ).str.replace(" l.c.", ""
                    ).str.replace(" ltd", ""
                    ).str.replace(" l.t.d.", ""
                    ).str.replace(" l.t.d", ""
                    ).str.replace(" lt.d", ""
                    ).str.replace(" lllp", ""
                    ).str.replace(" llp", ""
                    ).str.replace(" lda", ""
                    ).str.replace(" lp", ""
                    ).str.replace(".ltd", ""
                    ).str.replace(" inc.", ""
                    ).str.replace(" inc", ""
                    ).str.replace(" l.l.c.", ""
                    ).str.replace(" l l c", ""
                    ).str.replace(" pte", ""
                    ).str.replace(" s.e.m.c.o.", ""
                    ).str.replace(" s.e.c.", ""
                    ).str.replace(" pllc", ""
                    ).str.replace(" plc", ""
                    ).str.replace(" p.l.c.", ""
                    ).str.replace(" pvt", ""
                    ).str.replace(" pcl", ""
                    ).str.replace(" sp. z o. o.", ""
                    ).str.replace(" sp z o o", ""
                    ).str.replace(" sp. z o. o", ""
                    ).str.replace(" sp. z o.o", ""
                    ).str.replace(" sp. zo.o", ""
                    ).str.replace(" sp.zo.o", ""
                    ).str.replace(" pty", ""
                    ).str.replace(" zrt", ""
                    ).str.replace(" co ", ""
                    ).str.replace(" l p", ""
    
               # remove special characters
                    ).str.replace(".", ""
                    ).str.replace(",", ""
                    ).str.replace("-", ""
                    ).str.replace("!", ""
                    ).str.replace(":", ""
                    ).str.replace("'", ""
                    ).str.replace("/", ""
                    ).str.replace("\\", ""
                    ).str.replace("*", "")
#       df2 = df.with_columns(new_col)
                
#     # remove special words
#     map_rows(lambda c: c.rstrip() if c.split(" ")[-1] in ("the","ab", "co", "sa", "as", "ao", "oao", "ooo", "inc", "dac" "sro", "pc", "sb", "&", "amt") else c)
    
#     new_col = pl.when(
#                 # new_col.str.split(" "[-1] in ("the","ab", "co", "sa", "as", "ao", "oao", "ooo", "inc", "dac" "sro", "pc", "sb", "&", "amt"))
#                 #                 ).then(new_col.str.rstrip
#                 new_col.str.split(" ").apply(lambda x: x[-1] in ("the","ab", "co", "sa", "as", "ao", "oao", "ooo", "inc", "dac", "sro", "pc", "sb", "&", "amt"))
#                                 ).then(new_col.str.rstrip
#                 map_elements(lambda c: c.rstrip() if c.split(" ")[-1] in ("the","ab", "co", "sa", "as", "ao", "oao", "ooo", "inc", "dac" "sro", "pc", "sb", "&", "amt") else c)
#                 ).col(new_col
#                 ).str.replace("group", "grp"
#                 ).str.replace("international", "intl"
#                 ).str.replace(" and", " &"
                
#     # remove spaces
#                 ).strip(
#                 ).str.replace(" ", "")
    df2 = df.with_columns(new_col)
    return df2

In [44]:
data_cleaning(patent)

ComputeError: regex error: regex parse error:
    [\([{})\]]
    ^
error: unclosed character class

In [53]:
import time
stratTime = time.time()
patent["organization"] = data_cleaning(patent.get_column("organization"))
endTime = time.time()
runTime = endTime - stratTime
print(runTime)

thread '<unnamed>' panicked at src/map/series.rs:219:19:
python function failed KeyboardInterrupt:

PanicException: python function failed KeyboardInterrupt:

In [ ]:
ma_data = ma_data[ma_data["Target_Name"] != "nan"]
ma_data = ma_data[ma_data["Acquiror_Name"] != "nan"]

In [ ]:
# data cleaning of ma data
ma_data = pd.DataFrame(pd.concat([ma_data_all["Target_Name"],ma_data_all["Acquiror_Name"]]))
ma_data_all["Target_Name"] = data_cleaning(ma_data_all["Target_Name"])
ma_data_all["Acquiror_Name"] = data_cleaning(ma_data_all["Acquiror_Name"])
ma_data = ma_data.drop_duplicates().reset_index(drop = True)
ma_data.columns = ["organization"]
ma_data_cl = data_cleaning(ma_data["organization"])
ma_data_cl = pd.DataFrame(ma_data_cl).reset_index(drop = True)
ma_data_cl.columns = ["organization"]