# PREP

In [1]:
import pandas as pd
import numpy as np
import polars as pl
import matplotlib.pyplot as plt
import re
import os
import glob
import shutil
from pathlib import Path
from datetime import datetime, timedelta
os.getcwd()

'/Users/satoshiido/Documents/programming/RA/M&A'

In [2]:
# create the input_dir（input directory）
source_path = os.path.dirname(os.path.abspath('__file__'))
# source_path = '/scratch/bell/sido/m&a'
INPUT_DIR = os.path.join(source_path, 'data')

# if INPUT_DIR has not been created yet, create it
if not os.path.isdir(INPUT_DIR):
    os.mkdir(INPUT_DIR)

# output_dir(output directory) creation
OUTPUT_DIR = os.path.join(source_path, 'outputs')

# if OUTPUT_DIR has not been created yet, create it
if not os.path.isdir(OUTPUT_DIR):
    os.mkdir(OUTPUT_DIR)

In [3]:
# Once you run this code, comment it out
# move csv files to `data` directory(=folder)

# unique_dir_names = []
# for f in Path(f'{source_path}').rglob('*.csv'):
#     unique_dir_names.append(f)
# for g in Path(f'{source_path}').rglob('*.xlsx'):
#     unique_dir_names.append(g)

# for file in list(set(unique_dir_names)):
#     print(f'moved file: {file}')
#     shutil.move(f'{file}', f'{INPUT_DIR}')

In [3]:
# Pandas function to let us read csv files without having to specify the directory
def read_csv(name, **kwrgs):
    path = os.path.join(INPUT_DIR, name + '.csv')
    print(f'Load: {path}')
    return pd.read_csv(path, **kwrgs)

# Polars function to let us read csv files without having to specify the directory
def read_csvpl(name, **kwrgs):
    path = os.path.join(INPUT_DIR, name + '.csv')
    print(f'Load: {path}')
    return pl.read_csv(path, **kwrgs)

# DATA

In [5]:
ma = read_csv("SDC_M&A_1975-2016_180217")
patent = read_csv("USPTOtoM&A_Dictionary_with_uscitation_all")

Load: /scratch/bell/sido/m&a/data/SDC_M&A_1975-2016_180217.csv

/tmp/ipykernel_7314/1701776350.py:1: DtypeWarning: Columns (43,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132) have mixed types.Specify dtype option on import or set low_memory=False.
  ma = read_csv("SDC_M&A_1975-2016_180217")

Load: /scratch/bell/sido/m&a/data/USPTOtoM&A_Dictionary_with_uscitation_all.csv

In [6]:
ma.head(5)

,DateEffective,DateAnnounced,AcquirorName,AcquirorCUSIP,TargetName,TargetCUSIP,DateEffectiveUnconditional,DateWithdrawn,TargetCompanyDateofFin,TargetTFMacroCode,...,AcquirorUltimateParentTicker,AcquirorStreetAddress,AcquirorUltimateParentStreet,AcquirorCity,AcquirorUltimateParentCity,BranchAddress,TargetStreetAddress,TargetUltimateParentStreetAd,TargetCity,TargetUltimateParentCity
0,24apr1982,01apr1981,Telecommunications Inds Inc,879284,Horizon Communications Corp,44041I,24apr1982,-,-,TELECOM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,communications equipment;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,provide cellular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,communications services,MEDIA,Media and Entertainment,ADVER,Advertising & Marketing,7331,Direct mail advertising services,United States,Virginia,Provide telemarketing services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01apr1981,01apr1981,Summit Bancorporation,866008,Maplewood Bk&Tr,565522,01apr1981,-,31dec1980,FINANCE,...,UJB,1 Main Street,301 Carnegie Center,Chatham,Princeton,-,-,-,-,-

In [7]:
patent.head(5)

,organization,m&a_company,assignee_id,m&a_target,m&a_acquiror,PERMNO,patnum,fdate,idate,type,appnum,patcite_num,patcite_assignee_id
0,01db-Metravib Sas,01dbmetravib,5c61d393-3c74-4b37-8182-3cf2c11ccf0b,1,0,NaN,6886393,2000,05/03/2005,utility,10088534.0,2404474,NaN
1,01db-Metravib Sas,01dbmetravib,5c61d393-3c74-4b37-8182-3cf2c11ccf0b,1,0,NaN,6886393,2000,05/03/2005,utility,10088534.0,3229499,NaN
2,01db-Metravib Sas,01dbmetravib,5c61d393-3c74-4b37-8182-3cf2c11ccf0b,1,0,NaN,6886393,2000,05/03/2005,utility,10088534.0,3413474,NaN
3,01db-Metravib Sas,01dbmetravib,5c61d393-3c74-4b37-8182-3cf2c11ccf0b,1,0,NaN,6886393,2000,05/03/2005,utility,10088534.0,3913378,NaN
4,01db-Metravib Sas,01dbmetravib,5c61d393-3c74-4b37-8182-3cf2c11ccf0b,1,0,NaN,6886393,2000,05/03/2005,utility,10088534.0,4024751,ce7c5b47-05e7-4620-a05e-5c74b5fb57fd

# PREPROCESS

In [8]:
patent['uncleaned'] = patent['organization'].astype(str)
patent['organization'] = patent['organization'].astype(str)
patent['assignee_id'] = patent['assignee_id'].astype(str)

In [8]:
def data_cleaning(df):
    #remove words in brackets
    df = df.apply(lambda c: re.sub("\(.*?\)","()",ｃ))
    df = df.apply(lambda c: re.sub(r"[\([{})\]]", "", c))

    #remove suffix
    df = df.str.lower()
    df = df.apply(lambda c: c.replace(" corporation", ""))
    df = df.apply(lambda c: c.replace(" company", ""))
    df = df.apply(lambda c: c.replace(" kaisha", ""))
    df = df.apply(lambda c: c.replace(", the", ""))
    df = df.apply(lambda c: c.replace(" ug", ""))
    df = df.apply(lambda c: c.replace(" oao", ""))
    df = df.apply(lambda c: c.replace(" pt", ""))
    df = df.apply(lambda c: c.replace(" ny", ""))
    df = df.apply(lambda c: c.replace(" as", ""))
    df = df.apply(lambda c: c.replace(" se", ""))
    df = df.apply(lambda c: c.replace(" sl", ""))
    df = df.apply(lambda c: c.replace(" ab", ""))
    df = df.apply(lambda c: c.replace(" ag", ""))
    df = df.apply(lambda c: c.replace("-ag", ""))
    df = df.apply(lambda c: c.replace(" lc", ""))
    df = df.apply(lambda c: c.replace(" nv", ""))
    df = df.apply(lambda c: c.replace(" sasu", ""))
    df = df.apply(lambda c: c.replace(" sas", ""))
    df = df.apply(lambda c: c.replace(" sa", ""))
    df = df.apply(lambda c: c.replace(" aps", ""))
    df = df.apply(lambda c: c.replace(" asa", ""))
    df = df.apply(lambda c: c.replace(" spa", ""))
    df = df.apply(lambda c: c.replace(" sar", ""))
    df = df.apply(lambda c: c.replace(" sia", ""))
    
    df = df.apply(lambda c: c.replace(" co. ltd", ""))
    df = df.apply(lambda c: c.replace(" co ltd", ""))
    df = df.apply(lambda c: c.replace(" co.", ""))
    df = df.apply(lambda c: c.replace(" m sdn bhd", ""))
    df = df.apply(lambda c: c.replace(" sdn bhd", ""))
    df = df.apply(lambda c: c.replace("gmbh & co", ""))
    df = df.apply(lambda c: c.replace("gmnh", ""))
    df = df.apply(lambda c: c.replace(" kgaa", ""))
    df = df.apply(lambda c: c.replace(" kg", ""))
    df = df.apply(lambda c: c.replace("gmbh", ""))
    df = df.apply(lambda c: c.replace(" bvba", ""))
    df = df.apply(lambda c: c.replace(" b.v.", ""))
    df = df.apply(lambda c: c.replace(" b. v.", ""))
    df = df.apply(lambda c: c.replace(" bv", ""))
    df = df.apply(lambda c: c.replace(" limited", ""))
    df = df.apply(lambda c: c.replace(" corp", ""))
    df = df.apply(lambda c: c.replace(" & co.", ""))
    df = df.apply(lambda c: c.replace(" & c.s.n.c.", ""))
    df = df.apply(lambda c: c.replace(" & c. s.n.c.", ""))
    df = df.apply(lambda c: c.replace(" a/s", ""))
    df = df.apply(lambda c: c.replace(" a.s.", ""))
    df = df.apply(lambda c: c.replace(" de cv", ""))
    df = df.apply(lambda c: c.replace(" s.a.s.u.", ""))
    df = df.apply(lambda c: c.replace(" s.a.s.", ""))
    df = df.apply(lambda c: c.replace("(s.a.s.)", ""))
    df = df.apply(lambda c: c.replace(" s.a.b.", ""))
    df = df.apply(lambda c: c.replace(" s.a.p.i.", ""))
    df = df.apply(lambda c: c.replace(" s.a.", ""))
    df = df.apply(lambda c: c.replace(" s.a", ""))
    df = df.apply(lambda c: c.replace(" s.r.o.", ""))
    df = df.apply(lambda c: c.replace(" s.r.o", ""))
    df = df.apply(lambda c: c.replace(" s.p.a.", ""))
    df = df.apply(lambda c: c.replace(" p.a.", ""))
    df = df.apply(lambda c: c.replace(" s.a.r.l.", ""))
    df = df.apply(lambda c: c.replace(" sarl", ""))
    df = df.apply(lambda c: c.replace("s.r.l.", ""))
    df = df.apply(lambda c: c.replace("s.r.l", ""))
    df = df.apply(lambda c: c.replace(" srl", ""))
    df = df.apply(lambda c: c.replace(" ksaa", ""))
    df = df.apply(lambda c: c.replace(" k.s.a.a.", ""))
    df = df.apply(lambda c: c.replace(" d.o.o.", ""))
    df = df.apply(lambda c: c.replace(" s.l.p.", ""))
    df = df.apply(lambda c: c.replace(" s.l.u.", ""))
    df = df.apply(lambda c: c.replace(" l.p.", ""))
    df = df.apply(lambda c: c.replace(" l.p", ""))
    df = df.apply(lambda c: c.replace(" s.l.", ""))
    df = df.apply(lambda c: c.replace(" s.l", ""))
    df = df.apply(lambda c: c.replace(" s/a", ""))
    df = df.apply(lambda c: c.replace(" gbr", ""))
    df = df.apply(lambda c: c.replace(" oyj", ""))
    df = df.apply(lambda c: c.replace(" oy", ""))
    df = df.apply(lambda c: c.replace(" l/s", ""))
    df = df.apply(lambda c: c.replace(" n.v.", ""))
    df = df.apply(lambda c: c.replace(" nv", ""))
    df = df.apply(lambda c: c.replace(" hf", ""))
    df = df.apply(lambda c: c.replace(" e.v.", ""))
    df = df.apply(lambda c: c.replace(" de c.v.", ""))
    df = df.apply(lambda c: c.replace(" de .c.v.", ""))
    df = df.apply(lambda c: c.replace(" ulc", ""))
    df = df.apply(lambda c: c.replace(" s.c. a r.l.", ""))
    df = df.apply(lambda c: c.replace(" pbc", ""))
    df = df.apply(lambda c: c.replace(" llc", ""))
    df = df.apply(lambda c: c.replace(" l. l. c.", ""))
    df = df.apply(lambda c: c.replace(" l.c.", ""))
    df = df.apply(lambda c: c.replace(" ltd", ""))
    df = df.apply(lambda c: c.replace(" l.t.d.", ""))
    df = df.apply(lambda c: c.replace(" l.t.d", ""))
    df = df.apply(lambda c: c.replace(" lt.d", ""))
    df = df.apply(lambda c: c.replace(" lllp", ""))
    df = df.apply(lambda c: c.replace(" llp", ""))
    df = df.apply(lambda c: c.replace(" lda", ""))
    df = df.apply(lambda c: c.replace(" lp", ""))
    df = df.apply(lambda c: c.replace(".ltd", ""))
    df = df.apply(lambda c: c.replace(" inc.", ""))
    df = df.apply(lambda c: c.replace(" inc", ""))
    df = df.apply(lambda c: c.replace(" l.l.c.", ""))
    df = df.apply(lambda c: c.replace(" l l c", ""))
    df = df.apply(lambda c: c.replace(" pte", ""))
    df = df.apply(lambda c: c.replace(" s.e.m.c.o.", ""))
    df = df.apply(lambda c: c.replace(" s.e.c.", ""))
    df = df.apply(lambda c: c.replace(" pllc", ""))
    df = df.apply(lambda c: c.replace(" plc", ""))
    df = df.apply(lambda c: c.replace(" p.l.c.", ""))
    df = df.apply(lambda c: c.replace(" pvt", ""))
    df = df.apply(lambda c: c.replace(" pcl", ""))
    df = df.apply(lambda c: c.replace(" sp. z o. o.", ""))
    df = df.apply(lambda c: c.replace(" sp z o o", ""))
    df = df.apply(lambda c: c.replace(" sp. z o. o", ""))
    df = df.apply(lambda c: c.replace(" sp. z o.o", ""))
    df = df.apply(lambda c: c.replace(" sp. zo.o", ""))
    df = df.apply(lambda c: c.replace(" sp.zo.o", ""))
    df = df.apply(lambda c: c.replace(" pty", ""))
    df = df.apply(lambda c: c.replace(" zrt", ""))
    df = df.apply(lambda c: c.replace(" co ", ""))
    df = df.apply(lambda c: c.replace(" l p", ""))

    #remove special characters
    df = df.apply(lambda c: c.replace(".", ""))
    df = df.apply(lambda c: c.replace(",", ""))
    df = df.apply(lambda c: c.replace("-", ""))
    df = df.apply(lambda c: c.replace("!", ""))
    df = df.apply(lambda c: c.replace(":", ""))
    df = df.apply(lambda c: c.replace("'", ""))
    df = df.apply(lambda c: c.replace("/", ""))
    df = df.apply(lambda c: c.replace("\\", ""))
    df = df.apply(lambda c: c.replace("*", ""))

    #remove special words
    df = df.apply(lambda c: c.rstrip() if c.split(" ")[-1] in ("the","ab", "co", "sa", "as", "ao", "oao", "ooo", "inc", "dac" "sro", "pc", "sb", "&", "amt") else c)
    df = df.apply(lambda c: c.replace("group", "grp"))
    df = df.apply(lambda c: c.replace("international", "intl"))
    df = df.apply(lambda c: c.replace(" and", " &"))

    #remove spaces
    df = df.apply(lambda c: c.strip())
    df = df.apply(lambda c: c.replace(" ", ""))
    return df

In [9]:
patent["organization"] = data_cleaning(patent["organization"])

In [10]:
ma["TargetName"] = ma["TargetName"].astype(str)
ma["AcquirorName"] = ma["AcquirorName"].astype(str)

In [11]:
# remove the null value in both Target and Acquiror name
ma_part = ma[ma["TargetName"] != "nan"]
ma_part = ma_part[ma_part["AcquirorName"] != "nan"]

In [12]:
display(ma_part)

,DateEffective,DateAnnounced,AcquirorName,AcquirorCUSIP,TargetName,TargetCUSIP,DateEffectiveUnconditional,DateWithdrawn,TargetCompanyDateofFin,TargetTFMacroCode,...,AcquirorUltimateParentTicker,AcquirorStreetAddress,AcquirorUltimateParentStreet,AcquirorCity,AcquirorUltimateParentCity,BranchAddress,TargetStreetAddress,TargetUltimateParentStreetAd,TargetCity,TargetUltimateParentCity
0,24apr1982,01apr1981,Telecommunications Inds Inc,879284,Horizon Communications Corp,44041I,24apr1982,-,-,TELECOM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,communications services,MEDIA,Media and Entertainment,ADVER,Advertising & Marketing,7331,Direct mail advertising services,United States,Virginia,Provide telemarketing services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01apr1981,01apr1981,Summit Bancorporation,866008,Maplewood Bk&Tr,565522,01apr1981,-,31dec1980,FINANCE,...,UJB,1 Main Street,301 Carnegie Center,Chatham,Princeton,-,-,-,-,-
5,01apr1982,01apr1982,Atlantic Bancorporation,048222,Bk Of Brevard,06074M,01apr1982,-,-,FINANCE,...,-,200 W Forsyth St,200 W Forsyth St,Jacksonville,Jacksonville,-,-,-,-,-
6,13may1982,01apr1982,Rexnord Inc,761688,Contech Inc,210754,13may1982,-,31dec1981,MATERLS,...,REX,350 N Sunny Slope Rd,350 N Sunny Slope Rd,Brookfield,Brookfield,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5744824,P.O. Box 39,Keilaranta 15 B,Espoo,Espoo,-,Norrlandsgatan 7,Norrlandsgatan 7,Stockholm,Stockholm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5744825,31oct2016,31oct2016,Salt Creek Capital II LLC,0A9766,Extranomical Tours LLC,9E9997,31oct2016,-,-,CPS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5744826,-,Completed,np,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5744827,-,31oct2016,Avast Software BV,7E2302,AVG Technologies NV,N07831,-,-,30jun2016,HT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5744828,-,Intended,np,-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# data cleaning of ma_part data
ma_part["TargetName"] = data_cleaning(ma_part["TargetName"])
ma_part["AcquirorName"] = data_cleaning(ma_part["AcquirorName"])

# extract the only Target and Acquiror name columns
ma_data = pd.DataFrame(pd.concat([ma_part["TargetName"], ma_part["AcquirorName"]]))
ma_data = ma_data.drop_duplicates().reset_index(drop = True)
ma_data.columns = ["organization"]

# clean the data and turn it into dataframe
ma_data_cleaned = pd.DataFrame(data_cleaning(ma_data["organization"]), columns=["organization"]).reset_index(drop = True)
ma_data_cleaned

                   organization
0         horizoncommunications
1         advertising&marketing
2                maplewoodbk&tr
3                   bkofbrevard
4                       contech
...                         ...
1223012  ineosstyrosolutionsgrp
1223013            daeseungchoe
1223014                   40552
1223015     collinsfoodsgermany
1223016          lynxfbonetwork

[1223017 rows x 1 columns]

In [14]:
# check duplicated organization names

duplicated_check = {
    "original": ma_data[ma_data_cleaned.duplicated(keep = False)]["organization"],
    "cleaned": ma_data_cleaned[ma_data_cleaned.duplicated(keep = False)]["organization"]
}
duplicated_check = pd.DataFrame(duplicated_check).sort_values(by=["cleaned"])

# MERGE PATENT AND M&A DATA

In [15]:
# construct the dictionary
tmp = {
    "original": ma_data[~ma_data_cleaned.duplicated()]["organization"],
    "organization": ma_data_cleaned[~ma_data_cleaned.duplicated()]["organization"]
}
ma_data_cleaned = pd.DataFrame(tmp)

# merge the no-duplicated cleaned m&a data with patent data
dict_ = pd.merge(ma_data_cleaned, patent[["assignee_id", "organization"]].drop_duplicates(), on=["organization"], how = "left").drop_duplicates(subset=["organization", "assignee_id"])

# count the sum of null value in assignee_id
nan_count = dict_["assignee_id"].isna().sum()
# drop the null value in assignee_id
dict_ = dict_.dropna(subset=["assignee_id"]).reset_index(drop=True)


# check organizations with different assignee_ids
## get the duplicated rows based on "organization"
duplicated_check2 = {
    "cleaned": dict_[dict_.duplicated(subset = ["organization"], keep = False)]["organization"],
    "assignee_id": dict_[dict_.duplicated(subset = ["organization"], keep = False)]["assignee_id"]
}
duplicated_check2 = pd.DataFrame(duplicated_check2)
duplicated_check2 = pd.merge(duplicated_check2
                             , patent[["assignee_id", "uncleaned"]].drop_duplicates()
                             , on=["assignee_id"]
                             , how = "left").drop_duplicates().sort_values(by=["cleaned","assignee_id"]
                            ).rename(columns={"uncleaned": "organization"}).reset_index(drop=True)

In [16]:
dict_ = dict_.rename(columns={"organization":"m&a_company","original": "organization"}).reset_index(drop=True)

# label the organization if target or acquiror
dict_['m&a_target'] = 0
dict_.loc[dict_["m&a_company"].isin(ma_part["TargetName"]), 'm&a_target'] = 1
dict_['m&a_acquiror'] = 0
dict_.loc[dict_["m&a_company"].isin(ma_part["AcquirorName"]), 'm&a_acquiror'] = 1

# EXPORT

In [58]:
duplicated_check.to_csv(os.path.join(OUTPUT_DIR, 'duplicated_cleaned_m&a.csv'), encoding='utf_8_sig', index=False)
duplicated_check2.to_csv(os.path.join(OUTPUT_DIR, 'same_orgname_dif_assigneeid_m&a.csv'), encoding='utf_8_sig', index=False)
dict_.to_csv(os.path.join(OUTPUT_DIR, 'cleaned_M&A_with_Patent.csv'), encoding='utf_8_sig', index=False)

# EXPERIMENTAL GROUP

## data

In [7]:
# stata = pd.DataFrame(pd.read_stata(os.path.join(INPUT_DIR, "roster3-20230902.dta")))
# stata.to_csv(os.path.join(INPUT_DIR, 'roster3-20230902.csv'), encoding='utf_8_sig', index=False)
# excel = pd.read_excel(os.path.join(INPUT_DIR, "roster3-csv-corrected-20230911.xlsx"))
# excel.to_csv(os.path.join(INPUT_DIR, 'roster3-csv-corrected-20230911.csv'), encoding='utf_8_sig', index=False)
ma_with_patent = read_csv("roster3-csv-corrected-20230911")
ma_with_patent

Load: /Users/satoshiido/Documents/programming/RA/M&A/data/roster3-csv-corrected-20230911.csv

/var/folders/j0/tkdlg4n54w74ht8tklyh79640000gn/T/ipykernel_53751/1503380276.py:5: DtypeWarning: Columns (13,21,54,55,56,160) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path, **kwrgs)

,DateEffective,DateAnnounced,AcquirorName,AcquirorCUSIP,TargetName,TargetCUSIP,DateEffectiveUnconditional,DateWithdrawn,TargetCompanyDateofFin,TargetTFMacroCode,...,acq_ipodate,acq_ipoyear,acq_roa,acq_ebit,acq_ros,acq_ch,acq_dt,acq_gp,acq_sale,acq_salepfc
0,1978-06-27 00:00:00,1978-01-26,Louisiana-Pacific Corp,546347,Fibreboard Corp,315712,1978-06-27 00:00:00,-,1996-12-31 00:00:00,MATERLS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1981-06-21 00:00:00,1980-12-23,LTV Corp,502210,Jones & Laughlin Steel Corp,480034,1981-06-21 00:00:00,-,1980-12-31 00:00:00,MATERLS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-,1981-07-13,Criton Technologies,22674Q,Lightolier Inc,532253,-,1981-09-02 00:00:00,-,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1981-11-24 00:00:00,1981-09-21,BICC PLC,05546O,Sealectro Corp(BICC PLC),812098,1981-11-24 00:00:00,-,1981-06-26 00:00:00,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1981-07-15 00:00:00,1981-06-03,Great Lakes Chemical Corp,390568,Velsicol Chemical Corp,922573,1981-07-15 00:00:00,-,-,MATERLS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20314,2016-05-02 00:00:00,2016-03-22,Micro Focus International PLC,594837,Serena Software Inc,817492,2016-05-02 00:00:00,-,2014-01-31 00:00:00,HT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20315,2011-10-04 00:00:00,2011-09-22,Velti PLC,G93285,Air2Web Inc,00267C,2011-10-04 00:00:00,-,-,MEDIA,...,2006-05-03,2006.0,0.0,0.0,0.0,76.0,10.0,121.0,189.0,223.0
20316,2012-01-09 00:00:00,2012-01-09,OCZ Technology Group Inc,67086E,SANRAD Inc,79634Z,2012-01-09 00:00:00,-,-,HT,...,NaN,NaN,-2.0,-129.0,0.0,12.0,0.0,-33.0,334.0,NaN
20317,-,2011-03-23,XG Technology Inc,98372A,XG Technology Inc,98372A,-,-,2010-12-31 00:00:00,HT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20318,-,2014-10-21,Therapix Biosciences Ltd,63367R,Dekel Pharmaceuticals Ltd,5C3854,-,-,-,HEALTH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df = read_csv("roster3-20230903")
df

Load: /Users/satoshiido/Documents/programming/RA/M&A/data/roster3-20230903.csv

/var/folders/j0/tkdlg4n54w74ht8tklyh79640000gn/T/ipykernel_53751/1503380276.py:5: DtypeWarning: Columns (105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,122,124,125,126,127,128,134,135,136,137,138,140,141,142,146,147,148,157,159,164,165,166,171,174,175,176,177,181,184,185,186,188,189,198,199,200,216,217,218) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path, **kwrgs)

,DateEffective,DateAnnounced,AcquirorName,AcquirorCUSIP,TargetName,TargetCUSIP,DateEffectiveUnconditional,DateWithdrawn,TargetCompanyDateofFin,TargetTFMacroCode,...,tgt_cwp_selfexcluded,acq_sic3,tgt_sic3,acq_avg_lag_1995,acq_avg_lag_1990,acq_avg_lag_2002,tgt_avg_lag_1995,tgt_avg_lag_1990,tgt_avg_lag_2002,proximity
0,-,29jan2002,Tohken Co Ltd,88936H,OKK Inc,67114Y,-,-,-,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,electronic indicators,HT,High Technology,ITCS,IT Consulting & Services,7373,Computer integrated systems design,Japan,Foreign,Pvd computer sys dvlp svcs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,are disclosed,Pending,.345,.345,-,.12,.12,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-,28sep2011,HSN Inc,404303,HSN Inc,404303,-,-,30jun2011,RETAIL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10 mil shares (17.008%),Intended,2038.196,2066.715,35.15,351.5,351.5,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139117,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139118,Self Tender offer is completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139119,-,Completed,146.909,73.881,7.081,7.582,7.582,.167,Mizuho Securities Co Ltd,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139120,Tender Offer,B1GZ9S6,CORPORATE,P,Public,-,Public,B1GZ9S6,Public,413614,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139121,413614,CASHO,Cash Only,CASHO,Cash Only,1,03sep2015,Buyback,"Self Tenders, Recaps",-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## preprocess

### ma_with_patent

In [31]:
# select only rows with non-null Withdrawn date and with valid Withdrawn date
tmp1 = ma_with_patent[~ma_with_patent["DateWithdrawn"].isna()].loc[ma_with_patent["DateWithdrawn"] != "-"]

# change the data type of "DateWithdrawn" to datetime
tmp1["Date"] = pd.to_datetime(tmp1["DateWithdrawn"])
# make the index as a column (save the id?)
# tmp1.reset_index(inplace=True)

# display the data
pd.set_option('display.max_rows', 1000)
display(tmp1["Date"].count())

764

2     1981-09-02
22    1983-02-05
45    1984-04-14
135   1985-10-03
145   1986-06-04
169   1986-06-26
171   1986-08-01
237   1988-01-13
256   1987-10-27
281   1988-02-01
Name: Date, dtype: datetime64[ns]

In [26]:
# select only rows with non-null Withdrawn date and with valid Withdrawn date
tmp1 = ma_with_patent[~ma_with_patent["DateWithdrawn"].isna()].loc[ma_with_patent["DateWithdrawn"] != "-"]

# change the data type of "DateWithdrawn" to datetime
tmp1["Date"] = pd.to_datetime(tmp1["DateWithdrawn"])
# make the index as a column (save the id?)
# tmp1.reset_index(inplace=True)

# display the data
pd.set_option('display.max_rows', 1000)
display(tmp1["Date"].count())
display(tmp1["Date"].head(10))


# select only rows with non-null realized date and with valid realized date
tmp2 = ma_with_patent[~ma_with_patent["DateEffectiveUnconditional"].isna()].loc[ma_with_patent["DateEffectiveUnconditional"] != "-"]

# change the data type of "DateEffectiveUnconditional" to datetime
tmp2["Date"] = pd.to_datetime(tmp2["DateEffectiveUnconditional"])

# make the index as a column (save the id?)
tmp2.reset_index(inplace=True)

# display the datata
pd.set_option('display.max_rows', 1000)
display(tmp2["Date"].count())
display(tmp2["Date"])

764

2     1981-09-02
22    1983-02-05
45    1984-04-14
135   1985-10-03
145   1986-06-04
169   1986-06-26
171   1986-08-01
237   1988-01-13
256   1987-10-27
281   1988-02-01
Name: Date, dtype: datetime64[ns]

11531

0       1978-06-27
1       1981-06-21
2       1981-11-24
3       1981-07-15
4       1981-06-01
           ...
11526   2008-07-11
11527   2009-07-27
11528   2016-05-02
11529   2011-10-04
11530   2012-01-09
Name: Date, Length: 11531, dtype: datetime64[ns]

In [34]:
# extract only the rows with both acq_sic and tgt_sic3, meaning acquiror and target are both from the same industry
tmp2 = tmp2[~tmp2["acq_sic3"].isna() & ~tmp2["tgt_sic3"].isna()].query('acq_sic3 == tgt_sic3')

# Concat the tmp1 and tmp2
tmp3 = pd.DataFrame(pd.concat([tmp1, tmp2]))
# tmp3.to_csv(os.path.join(OUTPUT_DIR, 'tmp_cleaned_m&a_for_pairing.csv'), encoding='utf_8_sig', index=False)
tmp3

,DateEffective,DateAnnounced,AcquirorName,AcquirorCUSIP,TargetName,TargetCUSIP,DateEffectiveUnconditional,DateWithdrawn,TargetCompanyDateofFin,TargetTFMacroCode,...,acq_roa,acq_ebit,acq_ros,acq_ch,acq_dt,acq_gp,acq_sale,acq_salepfc,Date,index
2,-,1981-07-13,Criton Technologies,22674Q,Lightolier Inc,532253,-,1981-09-02 00:00:00,-,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1981-09-02,NaN
22,-,1982-02-05,Polaris Industries Inc,731068,Arctic Enterprises Inc,39672,-,1983-02-05 00:00:00,-,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1983-02-05,NaN
45,-,1983-04-15,Nippon Steel Corp,654619,Special Metals Corp(Allegheny),847245,-,1984-04-14 00:00:00,-,MATERLS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1984-04-14,NaN
135,-,1985-08-15,Gulfstream Aerospace Corp,402733,Canadair Ltd,135307,-,1985-10-03 00:00:00,1984-12-31 00:00:00,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1985-10-03,NaN
145,-,1986-05-08,Volco Inc,92864Q,Clopay Corp,189000,-,1986-06-04 00:00:00,1986-03-31 00:00:00,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1986-06-04,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11509,2008-07-09 00:00:00,2008-05-29,Blackbaud Inc,09227Q,Kintera Inc,49720P,2008-07-09 00:00:00,-,2008-03-31 00:00:00,HT,...,0.0,51.0,0.0,16.0,62.0,202.0,302.0,NaN,2008-07-09,20286.0
11518,2010-02-17 00:00:00,2009-11-04,Phase Forward Inc,71721R,Phase Forward Inc,71721R,2010-02-17 00:00:00,-,2009-09-30 00:00:00,HT,...,0.0,14.0,0.0,42.0,0.0,138.0,213.0,NaN,2010-02-17,20301.0
11521,2007-02-01 00:00:00,2006-11-02,Himax Technologies Inc,43289P,Himax Technologies Inc,43289P,2007-02-01 00:00:00,-,2005-12-31 00:00:00,HT,...,0.0,66.0,0.0,110.0,0.0,148.0,745.0,NaN,2007-02-01,20306.0
11525,2008-06-18 00:00:00,2008-05-01,Micro Focus International PLC,594837,NetManage Inc,641144,2008-06-18 00:00:00,-,2008-03-31 00:00:00,HT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-06-18,20311.0
11528,2016-05-02 00:00:00,2016-03-22,Micro Focus International PLC,594837,Serena Software Inc,817492,2016-05-02 00:00:00,-,2014-01-31 00:00:00,HT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-05-02,20314.0

## Create the 36 months window pairs

In [71]:
# Filter rows where DateWithdrawn is not null
filtered_tmp3 = tmp3[tmp3["DateWithdrawn"] != "-"]

# Create an empty list to store the resulting rows
# result_lists = []
# Create a dictionary to store the resulting data
result_dict = {}

# Iterate over each row in the filtered dataframe
for index, row in filtered_tmp3.iterrows():
    base_date = row["Date"]
    base_id = row["id"]

    # Calculate the 36-month window
    start_date = base_date - timedelta(days=365 * 1.5)
    end_date = base_date + timedelta(days=365 * 1.5)

    # Filter rows where DateWithdrawn is missing and date falls within the window
    temp_df = tmp3[(tmp3["DateWithdrawn"] == "-") & (tmp3["Date"] >= start_date) & (tmp3["Date"] <= end_date)]["index"]

    # Convert the filtered rows to a list and append it to the result_lists
    temp_list = temp_df.values.tolist()
#     result_lists.append(temp_list)
    # Add the key-value pair to the result_dict
    result_dict[base_id] = temp_list

# Convert the dictionary to a DataFrame
## converts each key-value pair in the original dictionary into a Series. \
## This allows the DataFrame to be built in such a way that missing values (since lists can be of different lengths) are filled with NaN.
result_df = pd.DataFrame(dict([(k,pd.Series(v)) for k,v in result_dict.items()])).transpose().reset_index().rename(columns={"index": "withdrawn_m&a_id"})
# export to csv file
# result.to_csv(os.path.join(OUTPUT_DIR, "MAtemp-conTroLgroupfor_withdrwnMApairsrstep1_36monthwindow.csv"), encoding='utf_8_sig', index=False)

In [75]:
# transpose the dataframe and set the first row as the column names
result_df = result_df.transpose()
result_df.columns = result_df.iloc[0]
result_df = result_df[1:]

# Reshape the DataFrame into a long format using melt()
result_df = result_df.melt(var_name='column', value_name='value')

# Set the index to the column names
result_df = result_df.set_index('column')['value'].to_frame()
result_df = result_df.reset_index().rename(columns={"column": "withdrawn_m&a_id"})

# merge the result with the original tmp3
result = pd.merge(result_df, tmp3, on=["withdrawn_m&a_id"], how = "left")

        withdrawn_m&a_id    value
0                 7879.0  10327.0
1                 7879.0  10450.0
2                 7879.0  10665.0
3                 7879.0  10789.0
4                 7879.0  11129.0
...                  ...      ...
148975            4034.0      NaN
148976            4034.0      NaN
148977            4034.0      NaN
148978            4034.0      NaN
148979            4034.0      NaN

[148980 rows x 2 columns]

In [53]:
tmp = result_df.transpose()
tmp.columns = tmp.iloc[0]
tmp = tmp[1:]
# tmp = tmp[1:].reset_index(drop=True)
tmp.head(15)

index,7879.0,690.0,12090.0,3216.0,17338.0,2927.0,7220.0,10141.0,8893.0,5267.0,...,19878.0,19879.0,353.0,12146.0,144.0,14831.0,4023.0,4027.0,4031.0,4034.0
0,10327.0,10317.0,10317.0,10328.0,10328.0,10452.0,10452.0,10386.0,10423.0,10333.0,...,10344.0,10360.0,10374.0,10374.0,10360.0,10348.0,10328.0,10317.0,10333.0,10457.0
1,10450.0,10327.0,10328.0,10452.0,10452.0,10458.0,10458.0,10423.0,10452.0,10386.0,...,10469.0,10530.0,10649.0,10649.0,10530.0,10352.0,10452.0,10328.0,10386.0,10483.0
2,10665.0,10450.0,10458.0,10458.0,10458.0,10477.0,10477.0,10452.0,10504.0,10423.0,...,10470.0,10557.0,10696.0,10696.0,10557.0,10354.0,10458.0,10458.0,10423.0,10537.0
3,10789.0,10489.0,10477.0,10477.0,10477.0,10504.0,10504.0,10504.0,10791.0,10452.0,...,10487.0,10558.0,11093.0,11002.0,10558.0,10358.0,10477.0,10477.0,10452.0,10538.0
4,11129.0,10588.0,10489.0,10504.0,10504.0,10666.0,10666.0,10585.0,10832.0,10504.0,...,10540.0,10661.0,11094.0,11093.0,10661.0,10547.0,10504.0,10489.0,10466.0,10539.0
5,11182.0,10634.0,10588.0,10666.0,10666.0,10667.0,10667.0,10791.0,10850.0,10585.0,...,10541.0,10695.0,11134.0,11094.0,10695.0,10549.0,10666.0,10588.0,10585.0,10638.0
6,11398.0,10762.0,10634.0,10667.0,10667.0,10791.0,10791.0,10832.0,10864.0,10791.0,...,10731.0,10714.0,11371.0,11134.0,10714.0,10795.0,10667.0,10634.0,10791.0,10679.0
7,11440.0,10789.0,10666.0,10762.0,10791.0,10812.0,10812.0,10850.0,10895.0,10832.0,...,10842.0,11002.0,11443.0,11371.0,11002.0,10847.0,10762.0,10666.0,10832.0,10806.0
8,11499.0,10790.0,10762.0,10812.0,10812.0,10832.0,10832.0,10864.0,10920.0,10850.0,...,10872.0,11160.0,11498.0,11443.0,11160.0,10860.0,10812.0,10667.0,10850.0,10836.0
9,11531.0,10815.0,10789.0,10832.0,10832.0,10850.0,10850.0,10895.0,10990.0,10851.0,...,10940.0,11163.0,11548.0,11498.0,11163.0,11071.0,10832.0,10762.0,10851.0,10843.0
10,11594.0,10894.0,10790.0,10884.0,10943.0,10943.0,10943.0,10920.0,11013.0,10864.0,...,11211.0,11356.0,11633.0,11548.0,11356.0,11083.0,10884.0,10790.0,10864.0,10844.0
11,11642.0,10946.0,10812.0,10894.0,10947.0,10947.0,10947.0,10990.0,11055.0,10895.0,...,11258.0,11493.0,11879.0,11633.0,11493.0,11344.0,10894.0,10812.0,10895.0,10869.0
12,11654.0,10954.0,10815.0,10943.0,11086.0,11086.0,11086.0,11013.0,11086.0,10920.0,...,11317.0,11667.0,11897.0,11879.0,11667.0,11445.0,10943.0,10815.0,10920.0,10899.0
13,11744.0,11039.0,10884.0,10947.0,11095.0,11095.0,11095.0,11055.0,11130.0,10990.0,...,11523.0,11699.0,11967.0,11897.0,11699.0,11711.0,10947.0,10884.0,10930.0,10913.0
14,11788.0,11046.0,10894.0,11033.0,11130.0,11130.0,11130.0,11086.0,11185.0,11013.0,...,11662.0,11875.0,12093.0,11967.0,11875.0,11754.0,11033.0,10894.0,10990.0,10929.0

In [52]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [48]:
import pandas as pd

# Create the original DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# Reshape the DataFrame into a long format using melt()
melted_df = df.melt(var_name='column', value_name='value')

# Set the index to the column names
result = melted_df.set_index('column')['value']

print(result)

column
A    1
A    2
A    3
B    4
B    5
B    6
C    7
C    8
C    9
Name: value, dtype: int64

In [41]:
for col in df.columns:
    print(df[col])
    pd.concat([df[col]], axis=1)

0    1
1    2
2    3
Name: A, dtype: int64
0    4
1    5
2    6
Name: B, dtype: int64
0    7
1    8
2    9
Name: C, dtype: int64

In [56]:
merged_dfs = {}

# Loop over the columns of the transposed DataFrame
for col_name, col_data in tmp.items():
    # Merge the column with tmp3 and tmp
    nn = pd.merge(tmp3, tmp[col_name], left_on="index", right_index=True)
    # tmp3[tmp3["index"] == col_data]
    # merged_df = pd.merge(tmp3, tmp, on="index")
    # merged_df = pd.merge(merged_df, col_data, left_on="index", right_index=True)
    
    # Store the merged DataFrame in the dictionary
    # merged_dfs[col_name] = merged_df

# Do whatever you need to do with the merged DataFrames
# ...

In [57]:
nn

,index,DateEffective,DateAnnounced,AcquirorName,AcquirorCUSIP,TargetName,TargetCUSIP,DateEffectiveUnconditional,DateWithdrawn,TargetCompanyDateofFin,...,acq_sic3,tgt_sic3,acq_avg_lag_1995,acq_avg_lag_1990,acq_avg_lag_2002,tgt_avg_lag_1995,tgt_avg_lag_1990,tgt_avg_lag_2002,Date,20294.0
0,40,-,15apr1982,Viacom International Inc,925526,Video Corp of America,926549,-,15apr1983,30jun1981,...,483.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1983-04-15,14218.0
1,64,-,25jul1983,Autoclave Engineers Inc,052760,Electro Plasma Inc,28519M,-,24jul1984,-,...,382.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1984-07-24,15013.0
2,165,-,03oct1985,American Home Products Corp,026609,Norcliff-Thayer Inc,65549V,-,15nov1985,-,...,283.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1985-11-15,19029.0
3,172,-,15aug1985,Gulfstream Aerospace Corp,402733,Canadair Ltd,135307,-,03oct1985,31dec1984,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1985-10-03,19188.0
4,188,-,26feb1985,Transidyne General Corp,893664,Technimed Corp(DH Blair inc),878545,-,26feb1985,-,...,384.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1985-02-26,20202.0

## Create the 2 years window pairs

In [52]:
# Filter rows where DateWithdrawn is not null
filtered_tmp3 = tmp3[tmp3["DateWithdrawn"] != "-"]

# Create an empty list to store the resulting rows
# result_lists = []
# Create a dictionary to store the resulting data
result_dict = {}

# Iterate over each row in the filtered dataframe
for index, row in filtered_tmp3.iterrows():
    base_date = row["Date"]
    base_index = row["index"]

    # Calculate the 2 years window
    start_date = base_date - timedelta(days=365)
    end_date = base_date + timedelta(days=365)

    # Filter rows where DateWithdrawn is missing and date falls within the window
    temp_df = tmp3[(tmp3["DateWithdrawn"] == "-") & (tmp3["Date"] >= start_date) & (tmp3["Date"] <= end_date)]["index"]

    # Convert the filtered rows to a list and append it to the result_lists
    temp_list = temp_df.values.tolist()
#     result_lists.append(temp_list)
    # Add the key-value pair to the result_dict
    result_dict[base_index] = temp_list

# Convert the dictionary to a DataFrame
## converts each key-value pair in the original dictionary into a Series. \
## This allows the DataFrame to be built in such a way that missing values (since lists can be of different lengths) are filled with NaN.
result_df = pd.DataFrame(dict([(k,pd.Series(v)) for k,v in result_dict.items()])).transpose().reset_index().rename(columns={"index": "withdrawn_m&a_index"})

# export to csv file
result_df.to_csv(os.path.join(OUTPUT_DIR, "MAtemp-conTroLgroupfor_withdrwnMApairsrstep1_24monthwindow.csv"), encoding='utf_8_sig', index=False)

## Create the 4 years window pairs

In [53]:
# Filter rows where DateWithdrawn is not null
filtered_tmp3 = tmp3[tmp3["DateWithdrawn"] != "-"]

# Create an empty list to store the resulting rows
# result_lists = []
# Create a dictionary to store the resulting data
result_dict = {}

# Iterate over each row in the filtered dataframe
for index, row in filtered_tmp3.iterrows():
    base_date = row["Date"]
    base_index = row["index"]

    # Calculate the 4 years window
    start_date = base_date - timedelta(days=365 * 2)
    end_date = base_date + timedelta(days=365 * 2)

    # Filter rows where DateWithdrawn is missing and date falls within the window
    temp_df = tmp3[(tmp3["DateWithdrawn"] == "-") & (tmp3["Date"] >= start_date) & (tmp3["Date"] <= end_date)]["index"]

    # Convert the filtered rows to a list and append it to the result_lists
    temp_list = temp_df.values.tolist()
#     result_lists.append(temp_list)
    # Add the key-value pair to the result_dict
    result_dict[base_index] = temp_list

# Convert the dictionary to a DataFrame
## converts each key-value pair in the original dictionary into a Series. \
## This allows the DataFrame to be built in such a way that missing values (since lists can be of different lengths) are filled with NaN.
result_df = pd.DataFrame(dict([(k,pd.Series(v)) for k,v in result_dict.items()])).transpose().reset_index().rename(columns={"index": "withdrawn_m&a_index"})

# export to csv file
result_df.to_csv(os.path.join(OUTPUT_DIR, "MAtemp-controlgroupfor_withdrwnMApairsrstep1_48monthwindow.csv"), encoding='utf_8_sig', index=False)

## Create the 5 years window pairs

In [54]:
# Filter rows where DateWithdrawn is not null
filtered_tmp3 = tmp3[tmp3["DateWithdrawn"] != "-"]

# Create an empty list to store the resulting rows
# result_lists = []
# Create a dictionary to store the resulting data
result_dict = {}

# Iterate over each row in the filtered dataframe
for index, row in filtered_tmp3.iterrows():
    base_date = row["Date"]
    base_index = row["index"]

    # Calculate the 5 years window
    start_date = base_date - timedelta(days=365 * 2.5)
    end_date = base_date + timedelta(days=365 * 2.5)

    # Filter rows where DateWithdrawn is missing and date falls within the window
    temp_df = tmp3[(tmp3["DateWithdrawn"] == "-") & (tmp3["Date"] >= start_date) & (tmp3["Date"] <= end_date)]["index"]

    # Convert the filtered rows to a list and append it to the result_lists
    temp_list = temp_df.values.tolist()
#     result_lists.append(temp_list)
    # Add the key-value pair to the result_dict
    result_dict[base_index] = temp_list

# Convert the dictionary to a DataFrame
## converts each key-value pair in the original dictionary into a Series. \
## This allows the DataFrame to be built in such a way that missing values (since lists can be of different lengths) are filled with NaN.
result_df = pd.DataFrame(dict([(k,pd.Series(v)) for k,v in result_dict.items()])).transpose().reset_index().rename(columns={"index": "withdrawn_m&a_index"})

# export to csv file
result_df.to_csv(os.path.join(OUTPUT_DIR, "MAtemp-controlgroupfor_withdrwnMApairsrstep1_60 monthwindow.csv"), encoding='utf_8_sig', index=False)

## Format change

# REFERENCE

In [ ]:
# save the "organization" column as uncleaned just in case and change the data type into string (=pl.Utf8)
patent = patent.with_columns(
            uncleaned = pl.col("organization")
            ,organization = pl.col("organization").cast(pl.Utf8)
            ,assignee_id = pl.col("assignee_id").cast(pl.Utf8)
        )

patent.head(5)

In [47]:
def data_cleaning(name):
    # remove words in brackets
    new_col = name.str.replace("\(.*?\)","()").str.replace(r"[\([{})\]]", "")
    df.with_columns(new_col)
    return df

# new_column = (pl.col("Integer") * 2).alias("Integer2")
# df.with_columns(new_column)

# df2=df.with_columns(
#     [
#         pl.col("text").str.replace(r"abc", "ABC").str.replace(r"cde", "CDE").replace(r"fgh", "FGH")
#     ]
# )

In [43]:
def data_cleaning(df):
    # remove words in brackets
    new_col = pl.col("organization"
                    ).str.replace("\(.*?\)","()"
                    ).str.replace(r"[\([{})\]]", ""
               # remove suffix         
                    ).str.to_lowercase(
                    ).str.replace(" corporation", ""
                    ).str.replace(" company", ""
                    ).str.replace(" kaisha", ""
                    ).str.replace(", the", ""
                    ).str.replace(" ug", ""
                    ).str.replace(" oao", ""
                    ).str.replace(" pt", ""
                    ).str.replace(" ny", ""
                    ).str.replace(" as", ""
                    ).str.replace(" se", ""
                    ).str.replace(" sl", ""
                    ).str.replace(" ab", ""
                    ).str.replace(" ag", ""
                    ).str.replace("-ag", ""
                    ).str.replace(" lc", ""
                    ).str.replace(" nv", ""
                    ).str.replace(" sasu", ""
                    ).str.replace(" sas", ""
                    ).str.replace(" sa", ""
                    ).str.replace(" aps", ""
                    ).str.replace(" asa", ""
                    ).str.replace(" spa", ""
                    ).str.replace(" sar", ""
                    ).str.replace(" sia", ""

                    ).str.replace(" co. ltd", ""
                    ).str.replace(" co ltd", ""
                    ).str.replace(" co.", ""
                    ).str.replace(" m sdn bhd", ""
                    ).str.replace(" sdn bhd", ""
                    ).str.replace("gmbh & co", ""
                    ).str.replace("gmnh", ""
                    ).str.replace(" kgaa", ""
                    ).str.replace(" kg", ""
                    ).str.replace("gmbh", ""
                    ).str.replace(" bvba", ""
                    ).str.replace(" b.v.", ""
                    ).str.replace(" b. v.", ""
                    ).str.replace(" bv", ""
                    ).str.replace(" limited", ""
                    ).str.replace(" corp", ""
                    ).str.replace(" & co.", ""
                    ).str.replace(" & c.s.n.c.", ""
                    ).str.replace(" & c. s.n.c.", ""
                    ).str.replace(" a/s", ""
                    ).str.replace(" a.s.", ""
                    ).str.replace(" de cv", ""
                    ).str.replace(" s.a.s.u.", ""
                    ).str.replace(" s.a.s.", ""
                    ).str.replace("(s.a.s.)", ""
                    ).str.replace(" s.a.b.", ""
                    ).str.replace(" s.a.p.i.", ""
                    ).str.replace(" s.a.", ""
                    ).str.replace(" s.a", ""
                    ).str.replace(" s.r.o.", ""
                    ).str.replace(" s.r.o", ""
                    ).str.replace(" s.p.a.", ""
                    ).str.replace(" p.a.", ""
                    ).str.replace(" s.a.r.l.", ""
                    ).str.replace(" sarl", ""
                    ).str.replace("s.r.l.", ""
                    ).str.replace("s.r.l", ""
                    ).str.replace(" srl", ""
                    ).str.replace(" ksaa", ""
                    ).str.replace(" k.s.a.a.", ""
                    ).str.replace(" d.o.o.", ""
                    ).str.replace(" s.l.p.", ""
                    ).str.replace(" s.l.u.", ""
                    ).str.replace(" l.p.", ""
                    ).str.replace(" l.p", ""
                    ).str.replace(" s.l.", ""
                    ).str.replace(" s.l", ""
                    ).str.replace(" s/a", ""
                    ).str.replace(" gbr", ""
                    ).str.replace(" oyj", ""
                    ).str.replace(" oy", ""
                    ).str.replace(" l/s", ""
                    ).str.replace(" n.v.", ""
                    ).str.replace(" nv", ""
                    ).str.replace(" hf", ""
                    ).str.replace(" e.v.", ""
                    ).str.replace(" de c.v.", ""
                    ).str.replace(" de .c.v.", ""
                    ).str.replace(" ulc", ""
                    ).str.replace(" s.c. a r.l.", ""
                    ).str.replace(" pbc", ""
                    ).str.replace(" llc", ""
                    ).str.replace(" l. l. c.", ""
                    ).str.replace(" l.c.", ""
                    ).str.replace(" ltd", ""
                    ).str.replace(" l.t.d.", ""
                    ).str.replace(" l.t.d", ""
                    ).str.replace(" lt.d", ""
                    ).str.replace(" lllp", ""
                    ).str.replace(" llp", ""
                    ).str.replace(" lda", ""
                    ).str.replace(" lp", ""
                    ).str.replace(".ltd", ""
                    ).str.replace(" inc.", ""
                    ).str.replace(" inc", ""
                    ).str.replace(" l.l.c.", ""
                    ).str.replace(" l l c", ""
                    ).str.replace(" pte", ""
                    ).str.replace(" s.e.m.c.o.", ""
                    ).str.replace(" s.e.c.", ""
                    ).str.replace(" pllc", ""
                    ).str.replace(" plc", ""
                    ).str.replace(" p.l.c.", ""
                    ).str.replace(" pvt", ""
                    ).str.replace(" pcl", ""
                    ).str.replace(" sp. z o. o.", ""
                    ).str.replace(" sp z o o", ""
                    ).str.replace(" sp. z o. o", ""
                    ).str.replace(" sp. z o.o", ""
                    ).str.replace(" sp. zo.o", ""
                    ).str.replace(" sp.zo.o", ""
                    ).str.replace(" pty", ""
                    ).str.replace(" zrt", ""
                    ).str.replace(" co ", ""
                    ).str.replace(" l p", ""
    
               # remove special characters
                    ).str.replace(".", ""
                    ).str.replace(",", ""
                    ).str.replace("-", ""
                    ).str.replace("!", ""
                    ).str.replace(":", ""
                    ).str.replace("'", ""
                    ).str.replace("/", ""
                    ).str.replace("\\", ""
                    ).str.replace("*", "")
#       df2 = df.with_columns(new_col)
                
#     # remove special words
#     map_rows(lambda c: c.rstrip() if c.split(" ")[-1] in ("the","ab", "co", "sa", "as", "ao", "oao", "ooo", "inc", "dac" "sro", "pc", "sb", "&", "amt") else c)
    
#     new_col = pl.when(
#                 # new_col.str.split(" "[-1] in ("the","ab", "co", "sa", "as", "ao", "oao", "ooo", "inc", "dac" "sro", "pc", "sb", "&", "amt"))
#                 #                 ).then(new_col.str.rstrip
#                 new_col.str.split(" ").apply(lambda x: x[-1] in ("the","ab", "co", "sa", "as", "ao", "oao", "ooo", "inc", "dac", "sro", "pc", "sb", "&", "amt"))
#                                 ).then(new_col.str.rstrip
#                 map_elements(lambda c: c.rstrip() if c.split(" ")[-1] in ("the","ab", "co", "sa", "as", "ao", "oao", "ooo", "inc", "dac" "sro", "pc", "sb", "&", "amt") else c)
#                 ).col(new_col
#                 ).str.replace("group", "grp"
#                 ).str.replace("international", "intl"
#                 ).str.replace(" and", " &"
                
#     # remove spaces
#                 ).strip(
#                 ).str.replace(" ", "")
    df2 = df.with_columns(new_col)
    return df2

In [44]:
data_cleaning(patent)

ComputeError: regex error: regex parse error:
    [\([{})\]]
    ^
error: unclosed character class

In [53]:
import time
stratTime = time.time()
patent["organization"] = data_cleaning(patent.get_column("organization"))
endTime = time.time()
runTime = endTime - stratTime
print(runTime)

thread '<unnamed>' panicked at src/map/series.rs:219:19:
python function failed KeyboardInterrupt:

PanicException: python function failed KeyboardInterrupt:

In [ ]:
ma_data = ma_data[ma_data["Target_Name"] != "nan"]
ma_data = ma_data[ma_data["Acquiror_Name"] != "nan"]

In [ ]:
# data cleaning of ma data
ma_data = pd.DataFrame(pd.concat([ma_data_all["Target_Name"],ma_data_all["Acquiror_Name"]]))
ma_data_all["Target_Name"] = data_cleaning(ma_data_all["Target_Name"])
ma_data_all["Acquiror_Name"] = data_cleaning(ma_data_all["Acquiror_Name"])
ma_data = ma_data.drop_duplicates().reset_index(drop = True)
ma_data.columns = ["organization"]
ma_data_cl = data_cleaning(ma_data["organization"])
ma_data_cl = pd.DataFrame(ma_data_cl).reset_index(drop = True)
ma_data_cl.columns = ["organization"]